@{
    Layout = null;
}
<script>
    function GetDocumentListWithCase() {
        var FieldID = "-1";
        var FltrOperator = 8;

        var e = document.getElementById("DropFieldID");
        if (e != null)
            FieldID = e.options[e.selectedIndex].value;
        //----------------------------------------------------------------------------------
        var ObjDropFltrOperator = document.getElementById("DropFltrOperator");
        if (ObjDropFltrOperator != null)
            FltrOperator = ObjDropFltrOperator.options[ObjDropFltrOperator.selectedIndex].value;
        //----------------------------------------------------------------------------------
        var searchcritaria = $("#SearchcritariaPopUp").val();

        var ActiveScreenID = $("#ActiveScreenID").val();
        var widget = $("#widget-" + ActiveScreenID)
        var scope = angular.element(widget).scope();
        return {
            FieldID: FieldID,
            FltrOperator: FltrOperator,
            Searchcritaria: searchcritaria,
            CaseRef: scope.CM00203.CaseRef,
            KaizenPublicKey: sessionStorage.PublicKey
        };
    };
    function EditDocumentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.CM00208 = dataItem;
            scope.CM00208.Status = 2;
        });
    };
    function DeleteDocumentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.CM00208 = dataItem;
            scope.CM00208.Status = 3;
            scope.DeleteCaseDocument();
        });
    };
    function DownloadDocumentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.DownloadFile(dataItem.DocumentName + dataItem.PhotoExtension, 'CaseDocuments');
        });
    };
    function ViewDocumentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.OpenFile(dataItem.DocumentName + dataItem.PhotoExtension, 'CaseDocuments', dataItem.PhotoExtension);
        });
    };

    function DocumentTypeFilter(element) {
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        element.kendoDropDownList({
            dataTextField: "DocumentTypeName",
            dataValueField: "DocumentTypeID",
            dataSource: scope.CaseDocumentTypes,
            optionLabel: "--Select Type--"
        });
    };
    function CMS_CaseDocumentattachments_onSuccess(e) {
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        var responseTxt = jQuery.parseJSON(e.XMLHttpRequest.responseText);
        if (responseTxt == "1") {/// remove
            scope.$apply(function () {
                scope.RemoveCaseFileExtension(responseTxt);
            });
        } else {
            scope.$apply(function () {
                scope.SetCaseFileExtension(responseTxt);
            });
        }
    };
</script>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget no-margin-bottom" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="SaveCaseDocument();"
           ng-show="CM00208.Status == 1">
            <i class="glyphicon glyphicon-floppy-disk icon-large"></i><br /> Save & Close
        </a>
        <a href="javascript:void(0);" class="btn btn-default" ng-click="UpdateCaseDocument();"
           ng-show="CM00208.Status == 2">
            <i class="glyphicon glyphicon-edit icon-large"></i><br /> Update & Close
        </a>
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Clear();">
            <i class="fa fa-eraser icon-large"></i><br /> Clear
        </a>
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Print();">
            <i class="glyphicon glyphicon-print icon-large"></i><br /> Print
        </a>
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
            <i class="fa fa-ban icon-large"></i><br /> Cancel
        </a>
    </header>
    <div class="no-border overflow no-padding-top">
        <div class="widget-body no-padding-bottom">
            <article class="row">
                <article class="col-md-12 col-lg-12">
                    <div class="row no-padding">
                        <form class="form-horizontal">
                            <fieldset class="margin-right-15 margin-left-15">
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Case</label>
                                        <label class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Case Reference"
                                                       ng-model="CM00203.CaseRef" readonly />
                                                <span class="input-group-btn input-group-sm">
                                                    <button class="btn btn-default"
                                                            ng-click="OpenkendoWindow('CMS_Case','PopUp',null,'CaseDocument')">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </label>
                                        <label class="col col-md-2 control-label">Document Type</label>
                                        <div class="col-md-4">
                                            <select kendo-drop-down-list
                                                    k-filter="'startswith'"
                                                    k-option-label="'-- Select Document Type --'"
                                                    k-ng-model="CM00208.DocumentTypeID"
                                                    k-data-text-field="'DocumentTypeName'"
                                                    k-value-primitive="true"
                                                    k-data-value-field="'DocumentTypeID'"
                                                    k-data-source="CaseDocumentTypes"
                                                    style="width: 100%"></select>
                                        </div>
                                    </section>
                                </div>
                                <div class="row" ng-show="CM00208.DocumentTypeID != '' && CM00208.DocumentTypeID != undefined">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Document Name</label>
                                        <label class="input col-md-4">
                                            <input type="text" class="form-control" maxlength="25"
                                                   placeholder="Document Name" ng-model="CM00208.DocumentName" />
                                        </label>
                                        <label class="col col-md-2 control-label"></label>
                                        <label class="input col-md-4" ng-show="CM00208.Status == 1">
                                            <div class="fileinput fileinput-new col col-md-12" data-provides="fileinput">
                                                @(Html.Kendo().Upload().Name("CMS_CaseDocumentattachments")
                                                 .Async(async => async.Save("SaveCaseDocumentTemp", "CMS_Case")
                                                 .Remove("RemoveCaseDocumentTemp", "CMS_Case"))
                                                 .Events(e => e.Success("CMS_CaseDocumentattachments_onSuccess"))
                                                )
                                            </div>
                                        </label>
                                    </section>
                                </div>
                                <div class="row" ng-show="CM00208.DocumentTypeID != '' && CM00208.DocumentTypeID != undefined">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Document Description</label>
                                        <label class="input col-md-10">
                                           <textarea class="form-control" rows="4"
                                                     placeholder="Document Description" ng-model="CM00208.DocumentDescription"></textarea>
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                            <footer>
                                <a href="javascript:void(0);" ng-click="SaveCaseDocument()" ng-show="CM00208.Status == 1"
                                   class="btn btn-success pull-left">Add Document</a>
                                <a href="javascript:void(0);" ng-click="UpdateCaseDocument()" ng-show="CM00208.Status == 2"
                                   class="btn btn-success pull-left">Update Document</a>
                            </footer>
                        </form>
                    </div>
                </article>
            </article>
        </div>
        <div class="row" ng-show="CM00203.CaseRef != '' && CM00203.CaseRef != undefined">
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00208>()
            .Name("GridCMS_CaseDocumentByCase")
            .Columns(columns =>
            {
                columns.Bound(c => c.DocumentID).Width(80).Title("ID").HeaderHtmlAttributes(new { style = "text-align:center;" });
                columns.ForeignKey(c => c.DocumentTypeID,
                (System.Collections.IEnumerable)ViewData["DocumentTypes"], "DocumentTypeID", "DocumentTypeName")
                .Title("Type").Width(100).Filterable(filterable => filterable.UI("DocumentTypeFilter"))
                .HeaderHtmlAttributes(new { style = "text-align:center;" });
                columns.Bound(c => c.DocumentName).Width(150).HeaderHtmlAttributes(new { style = "text-align:center;" });
                columns.Bound(c => c.DocumentDescription).Width(200).HeaderHtmlAttributes(new { style = "text-align:center;" });
                columns.Group(g => g.Title("Actions")
                .HeaderHtmlAttributes(new { style = "text-align:center;" })
                .Columns(location =>
                {
                    location.Command(command =>
                    {
                        command.Custom("View").Click("ViewDocumentbtn")
                        .Text("<span class='fa fa-eye'></span> View");
                    }).Title("View").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    location.Command(command =>
                    {
                        command.Custom("Download").Click("DownloadDocumentbtn")
                        .Text("<span class='fa fa-cloud-download'></span> Download");
                    }).Title("Download").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    location.Command(command =>
                    {
                        command.Custom("Edit").Click("EditDocumentbtn")
                        .Text("<span class='glyphicon glyphicon-edit'></span> Edit");
                    }).Title("Edit").HeaderHtmlAttributes(new { style = "text-align:center;" });
                    location.Command(command =>
                    {
                        command.Custom("Delete").Click("DeleteDocumentbtn")
                        .Text("<span class='glyphicon glyphicon-remove'></span> Delete");
                    }).Title("Delete").HeaderHtmlAttributes(new { style = "text-align:center;" });
                })
                );
            })
            .Filterable().AutoBind(false)
            .Pageable(pager => pager.Messages(messages => messages.Display("Showing Document from {0} to {1}. Total Documents: <strong>{2}</strong>")
            .ItemsPerPage("Document Per page").Empty("No Document Information")).Refresh(true).PageSizes(true).Input(true).ButtonCount(14))
            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
            .Navigatable()
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Reorderable(reorder => reorder.Columns(true))
            .Resizable(ss => ss.Columns(true))
            .ColumnMenu().Scrollable(s => s.Height(400))
            .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(20)
            .Read(read => read.Action("GetDocumentListGridWithCase", "CMS_Case")
            .Type(HttpVerbs.Get).Data("GetDocumentListWithCase"))
            .Model(model =>
            {
                model.Id(o => o.DocumentID);
                model.Field(o => o.DocumentTypeID);
                model.Field(o => o.CaseRef);
                model.Field(o => o.DocumentName);
                model.Field(o => o.DocumentDescription);
                model.Field(o => o.PhotoExtension);
            })
            )
                )
            </div>
        </div>
    </div>
</div>