@{
    Layout = null;
}
<script>
    function btnEditCasePayment_Click(PaymentID) {
        var scope = angular.element(document.getElementById("widget-CMS_Reminder")).scope();
        scope.$apply(function () {
            scope.LoadCM10307(PaymentID);
        });
    };
    function FormatAmount(data) {
        var number = kendo.toString(data.Amount, "n" + data.DecimalDigit);
        return number;
    };
    function PaymentMethodFilter(element) {
        var scope = angular.element(document.getElementById("widget-GridCMS_Payment")).scope();
        element.kendoDropDownList({
            dataTextField: "PaymentMethodName",
            dataValueField: "PaymentMethodID",
            dataSource: scope.Paymentmethods,
            optionLabel: "--Select Payment Method--"
        });
    };
    function EditPaymentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.LoadCM10307(dataItem);
        });
    };
    function DeletePaymentbtn(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var scope = angular.element(document.getElementById("widget-CMS_Case")).scope();
        scope.$apply(function () {
            scope.DeleteManualPayment(dataItem);
        });
    };
    function GetGridCMS_Case_CasePaymentPram() {
        //var ActiveScreenID = $("#ActiveScreenID").val();
        //var scope = angular.element(document.getElementById('DV' + ActiveScreenID)).scope();
        var scope = angular.element(document.getElementById('widget-CMS_Case')).scope();

        return {
            CaseRef: scope.CM00203.CaseRef,
            TRXTypeID: scope.CM00203.TRXTypeID,
            KaizenPublicKey: sessionStorage.PublicKey
        };
    }
</script>
<div class="jarviswidget no-margin-bottom" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">
    <header class="button-header">
        <a ng-click="GoBack();" class="btn btn-default">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <br />Cancel
        </a>
        <a class='btn btn-success txt-color-white' ng-hide="CM10307.Amount<=0 || !myForm.Amount.$valid"
           ng-click='SaveManualPayment();'>
            <i class='glyphicon glyphicon-check icon-large'></i><br />Save
        </a>
    </header>
    <div class="no-border overflow">
        <div class="widget-body">
            <div class="row">
                <article class="col-md-12 col-lg-12">
                    <div class="row no-padding">
                        <form class="" name="myForm">
                            <fieldset>
                                <div class="row">
                                    <section class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left">Transaction Ref</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="Receipt"
                                                           ng-model="CM10307.PaymentID" required @*readonly*@ data-bv-notempty="true" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Currency</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Currency"
                                                               ng-model="CM10307.CurrencyCode"
                                                               data-bv-notempty="true" readonly
                                                               data-bv-notempty-message="The Currency is required and cannot be empty" />
                                                        <div class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('GL_Currency', 'SinglePopUp',null,'UploadView')">
                                                            <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                                        </div>
                                                        <div class="input-group-btn input-group-sm" ng-disabled="CM10307.CurrencyCode == undefined || CM10307.CurrencyCode == ''"
                                                             ng-click="OpenkendoWindow('GL_Currency', 'ExchangeTablePopUp', CM10307.CurrencyCode, 'UploadView')">
                                                            <a href="javascript:void(0);" class="btn btn-default" ng-show="CM10307.ExchangeTableID == undefined || CM10307.ExchangeTableID == ''">Select Table</a>
                                                            <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM10307.ExchangeTableID == undefined || CM10307.ExchangeTableID == ''">{{CM10307.ExchangeTableID}}</a>
                                                        </div>
                                                        <div class="input-group-btn input-group-sm" ng-disabled="CM10307.CurrencyCode == undefined || CM10307.CurrencyCode == '' || CM10307.ExchangeTableID == undefined || CM10307.ExchangeTableID == ''"
                                                             ng-click="OpenExchangeRateWindow();">
                                                            <a href="javascript:void(0);" class="btn btn-default" ng-show="CM10307.ExchangeRateID == undefined || CM10307.ExchangeRateID == ''">Select Rate</a>
                                                            <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM10307.ExchangeRateID == undefined || CM10307.ExchangeRateID == ''">{{CM10307.ExchangeRate}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Case Ref</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="CM10307.CaseRef"
                                                               placeholder="Case Reference" class="form-control" readonly />
                                                        <span class="input-group-btn input-group-sm">
                                                            <button class="btn btn-default"
                                                                    ng-click="OpenkendoWindow('CMS_CaseLookUp',null,'CasePayment')">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Agent</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="CM10307.AgentID"
                                                               placeholder="Agent ID" class="form-control" readonly />
                                                        <span class="input-group-btn input-group-sm">
                                                            <button class="btn btn-default"
                                                                    ng-click="OpenkendoWindow('CMS_AgentLookUp',null,'AgentPayment')">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Transaction Date</label>
                                                <div class="col-sm-8">
                                                    <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                                           k-ng-model="CM10307.TransactionDate" style="width: 100%;" />
                                                </div>
                                            </div>

                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Reason</label>
                                                <div class="col-sm-8">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-ng-model="CM10307.ReasonID"
                                                            k-data-text-field="'ReasonName'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'ReasonID'"
                                                            k-data-source="ManualPaymentReasons"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-md-4 control-label txt-color-red bold">Check Book</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" readonly
                                                               placeholder="Checkbook Code" ng-model="CM10307.CheckbookCode" />
                                                        <span class="input-group-btn input-group-sm">
                                                            <button class="btn btn-default"
                                                                    ng-click="OpenkendoWindow('GL_CheckbookLookUp',CM10307.CurrencyCode,'ManualPayment')">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Payment Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="Payment Number"
                                                           ng-model="CM10307.PaymentNumber" required  @*readonly*@/>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left">Amount</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="Payment Amount"
                                                           ng-model="CM10307.Amount" ng-required="true" name="Amount"
                                                           ng-decimal decimal="CM10307.DecimalDigit"
                                                           ng-blur="ManualAmountChanged()" select-on-click />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col-sm-4 control-label text-left">Payment Method</label>
                                                <div class="col-sm-8">
                                                    <select kendo-drop-down-list ng-model="CM10307.PaymentMethodID"
                                                            ng-change="GetNextManualPaymentNumber()" convert-to-number style="width: 100%">
                                                        <option value="1">Cash</option>
                                                        <option value="2">Credit</option>
                                                        <option value="3">Check</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5" ng-show="CM10307.PaymentMethodID != 1">
                                                <label class="col-sm-4 control-label text-left">Bank Code</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" readonly
                                                               placeholder="Bank Code" ng-model="CM10307.BankCode" />
                                                        <span class="input-group-btn input-group-sm">
                                                            <button class="btn btn-default"
                                                                    ng-click="OpenkendoWindow('GL_Set_BankLookUp',null,'ManualPayment')">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5" ng-show="CM10307.PaymentMethodID != 1">
                                                <label class="col-sm-4 control-label text-left">Bank Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control"
                                                           placeholder="Bank Name" ng-model="CM10307.BankName">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5" ng-show="CM10307.PaymentMethodID == 3">
                                                <label class="col-sm-4 control-label text-left txt-color-red bold">Bank Check Date</label>
                                                <div class="col-sm-8">
                                                    <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                                           k-ng-model="CM10307.BankCheckDate" style="width: 100%;" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 no-padding margin-bottom-5">

                                                <label class="col-md-4 control-label text-left">Description</label>

                                                <div class="form-group col-md-8">
                                                    <textarea type="text" class="form-control"
                                                              placeholder="Description" ng-model="CM00307.TransDescription"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <section class="col-md-12">
                                        @(Html.Kendo().Grid<Kaizen.CMS.CM10307>()
                                    .Name("GridCMS_Case_ManualPayment")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.PaymentID).Title("Trans Ref");//.ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditCasePayment_Click('#: PaymentID #');""> #:PaymentID# </a>");
                                        columns.Bound(c => c.AgentID).Title("AgentID")
                                        .HtmlAttributes(new { style = "text-align:center;" });
                                        columns.Group(g => g.Title("Actions")
               .HeaderHtmlAttributes(new { style = "text-align:center;" })
               .Columns(location =>
               {
                   location.Command(command =>
                   {
                       command.Custom("Edit").Click("EditPaymentbtn")
                       .Text("<span class='glyphicon glyphicon-edit'></span> Edit");
                   }).Title("Edit").HeaderHtmlAttributes(new { style = "text-align:center;" });
                   location.Command(command =>
                   {
                       command.Custom("Delete").Click("DeletePaymentbtn")
                       .Text("<span class='glyphicon glyphicon-remove'></span> Delete");
                   }).Title("Delete").HeaderHtmlAttributes(new { style = "text-align:center;" });
               })
               );
                                    })
                                    .Excel(excel => excel.AllPages(true).FileName("ManualPaymentList.xlsx").Filterable(true))
                                     .Pdf(pdf => pdf.FileName("ManualPaymentList.pdf").AllPages().Date(DateTime.Now))
                                    .Filterable()
                                     .Pageable(pager => pager.Messages(messages => messages.Display("Payments from {0} to {1}. Total Payment: <strong>{2}</strong>")
                                    .ItemsPerPage("Payments Per page").Empty("No Case Payment History Information"))
                                    .Refresh(true).PageSizes(true).Input(true).ButtonCount(10))
                                    .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                                    .Navigatable()
                                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                    .Reorderable(reorder => reorder.Columns(true))
                                    .Resizable(ss => ss.Columns(true))
                                    .ColumnMenu().Scrollable(s => s.Height(300)).Filterable()
                                    .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(20)
                                    .Read(read => read.Action("GetManualPaymentHistoryDataListGrid", "CMS_Payment").Type(HttpVerbs.Get)
                                    .Data("GetGridCMS_Case_CasePaymentPram"))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.PaymentID);
                                        model.Field(p => p.PaymentID);
                                        model.Field(p => p.CaseRef);
                                    })
                                )
                                        )
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
