@model Kaizen.Configuration.Kaizen00011
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script>
    function btnEditCMS_ActionPlan_Click(BucketID) {
        var scope = angular.element(document.getElementById("widget-CMS_ActionPlan")).scope();
        scope.$apply(function () {
            scope.EditCM00015(BucketID);
        });
    };
</script>

<div ng-controller="CMS_ActionPlanController">
    <div class="widget" id="widget-CMS_ActionPlan">
        <div ng-show="PagesCM00015.length > 0">
            <div ng-repeat="Page in PagesCM00015">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesCM00015.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00015>()
                                .Name("GridCMS_ActionPlan")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.BucketID).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditCMS_ActionPlan_Click('#:BucketID#');""> #:BucketID# </a>").Width(100).Title("Class ID");
                            columns.Bound(c => c.BucketName);
                        })
                .HtmlAttributes(new { style = "height:500px;" })
                .Scrollable(scrollable => scrollable.Virtual(true))
                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Classs from {0} to {1}. Total Classes: <strong>{2}</strong>").Empty("No Class Information")).Refresh(true).PageSizes(true).ButtonCount(14))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Navigatable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(ss => ss.Columns(true))
                .ColumnMenu()
                .Filterable()
                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(17)
                .Read(read => read.Action("GetDataListGrid", "CMS_ActionPlan")
                .Type(HttpVerbs.Get).Data("GetGenericKaizenPublicKey"))
                .Model(model => model.Id(p => p.BucketID)))
                )
            </div>
        </div>
    </div>
</div>


