@{
    Layout = null;
}

<div ng-controller="CMS_Set_AddressCodeTypeClientController">
    <div class="widget" id="widget-CMS_Set_AddressCodeTypeClient">
        <div ng-show="PagesCM00008.length > 0">
            <div ng-repeat="Page in PagesCM00008">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesCM00008.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div ng-repeat="Page in GridPages">
                <div id="ClientPageGrid" ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
    </div>
</div>

