@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="SaveData();"
           ng-show="CM00016.Status == 1">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Save &amp; Close
        </a>
        <a class="btn btn-default" ng-click="UpdateData();"
           ng-show="CM00016.Status == 2">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Update &amp; Close
        </a>
        <a class="btn btn-default" ng-click="Delete();" ng-show="CM00016.Status == 2"><i class="glyphicon glyphicon-trash"></i><br />Delete </a>
        <a class="btn btn-default" ng-click="Cancel();"><i class="glyphicon glyphicon-remove-circle"></i><br />Cancel </a>
    </header>
    <div class="no-border overflow">
        <div class="widget-body">
            <div class="row">
                <article class="col-md-12 col-lg-12 separator">
                    <div class="row no-padding">
                        <form class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Lookup Name</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" maxlength="50"
                                                   placeholder="Jecket Name" ng-model="CM00016.Lookup01Name">
                                        </label>

                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>






