@{
    Layout = null;
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="no-padding-top">
                    <div class="widget-body">
                        <form id="SysUserViewAccessForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-primary" ng-click="SaveKaizenGridViewAccess();">
                                        <i class="glyphicon glyphicon-floppy-disk"></i> Save & Close
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>
                            <fieldset>
                                <legend>
                                    User View Access Setup
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">User</label>
                                    <div class="col-sm-4"> 
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="UserName" ng-model="User.UserName" readonly>
                                            <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('KaizenUser',null,'ViewAccess')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left">Company</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-filter="'startswith'"
                                                k-option-label="'-- Select Company --'"
                                                k-ng-model="KaizenGridViewAccess.CompanyID"
                                                k-data-text-field="'CompanyName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'CompanyID'"
                                                k-data-source="Companies"
                                                k-on-change="ViewModuleCompanyChanged()"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset ng-show="KaizenGridViewAccess.UserName != undefined && KaizenGridViewAccess.UserName != ''">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Module</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-filter="'startswith'"
                                                k-option-label="'-- Select Module --'"
                                                k-ng-model="KaizenGridViewAccess.ModuleID"
                                                k-data-text-field="'ModuleName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'ModuleID'"
                                                k-data-source="CompanyModules"
                                                k-on-change="ViewModuleChanged()"
                                                style="width: 100%"></select>
                                    </div>
                                    <label class="col-sm-2 control-label text-left">Screen</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-filter="'startswith'"
                                                k-option-label="'-- Select Screen --'"
                                                k-ng-model="KaizenGridViewAccess.ScreenID"
                                                k-data-text-field="'ScreenName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'ScreenID'"
                                                k-data-source="ModuleScreens"
                                                k-on-change="ScreenChanged()"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="KaizenGridViewAccess.UserName != undefined && KaizenGridViewAccess.UserName != ''">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr style="text-transform: capitalize;">
                                                <th class="col-sm-2 smart-form">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox" checkbox-all="Views.isSelected" />
                                                        <i></i>Access All
                                                    </label>
                                                </th>
                                                <th>View Name</th>
                                                <th>View Description</th>
                                                <th>Is Default</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="view in Views">
                                                <td class="col-sm-2 col-md-2 smart-form">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox" 
                                                               ng-model="view.isSelected" />
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>{{view.ViewName}}</td>
                                                <td>{{view.ViewDescription}}</td>
                                                <td class="smart-form">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox" ng-model="view.IsDefault" />
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>