@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="Cancel();"><i class="fa fa-arrow-left"></i><br />Back </a>
    </header>

    
    <div class="no-border overflow">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
        </div>
        <!-- end widget edit box -->
        <!-- widget grid -->
        <section id="widget-grid">

            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-md-12 col-lg-12 separator">
                    <!-- widget content-->
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>
                                    Case Type Lookup Field Maintenance
                                </legend>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Case Type</label>
                                                <div class="col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedType"
                                                            k-data-text-field="'TrxTypeName'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'TRXTypeID'"
                                                            k-data-source="CaseTypes"
                                                            k-on-change="CaseTypeChangedForLookupField()"
                                                            style="width: 100%" ng-disabled="CM00050.status == 2"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Field Name</label>
                                                <label class="input col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Field --'"
                                                            k-ng-model="SelectedLookUp.SelectedField"
                                                            k-data-text-field="'FieldName'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'FieldName'"
                                                            k-data-source="FieldNameList"
                                                            k-on-change="FieldNameChangedForLookup()"
                                                            style="width: 100%" ng-disabled="CM00050.status == 2"></select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Lookup Field Value</label>
                                                <label class="input col col-sm-8 col-xs-12">
                                                    <input type="text" class="form-control" maxlength="50"
                                                           placeholder="Lookup Field Value" ng-model="CM00050.LookupFieldValue">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-controls">
                                    <button class="btn btn-primary" ng-click="AddLookupField()" ng-show="CM00050.status == 0 || CM00050.status == 1">Add Lookup Field</button>
                                    <button class="btn btn-primary" ng-click="UpdateLookupField()" ng-show="CM00050.status == 2">Update Lookup Field</button>
                                    <button class="btn btn-primary" ng-click="CancelLookupField()" ng-show="CM00050.status == 2">Cancel</button>
                                </div>
                            </fieldset>

                            <br/>

                            <fieldset ng-show="CaseTypeLookupFieldsList.length > 0">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="text-align-center">TRX Type ID</th>
                                                <th class="text-align-center">Field Name</th>
                                                <th class="text-align-center">Lookup Field Value</th>
                                                <th class="text-align-center">Edit</th>
                                                <th class="text-align-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="lookupField in CaseTypeLookupFieldsList" ng-class="{'deleted':lookupField.status== 3}">
                                                <td class="col-md-2">{{lookupField.TRXTypeID}}</td>
                                                <td class="col-md-4">{{lookupField.FieldName}}</td>
                                                <td class="col-md-4">{{lookupField.LookupFieldValue}}</td>
                                                <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                    <a href="" ng-click="EditLookupField(lookupField)"><span class="glyphicon glyphicon-edit myhover"></span></a>
                                                </td>
                                                <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                    <a href="" ng-click="RemoveLookupField(lookupField,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
            <!-- End Body -->
        </section>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->
</div>





