@{
    Layout = null;//  "~/Views/Shared/_LayoutPopUP.cshtml";
}

<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
            <i class="fa fa-arrow-left"></i>
            <br />
            Back
        </a>
    </header>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET ROW START -->
            <!-- Widget ID (each widget will need unique ID)-->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget div-->
                    <div class="no-padding-top">
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="GL_GLCategoryForm" class="form-horizontal"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <fieldset>
                                    <legend>
                                        Case Type View Users Maintenance
                                    </legend>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-left">Data Source</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <select kendo-drop-down-list
                                                        k-filter="'startswith'"
                                                        k-option-label="'-- Select Type --'"
                                                        k-ng-model="SelectedLookUp.SelectedType"
                                                        k-data-text-field="'TrxTypeName'"
                                                        k-value-primitive="true"
                                                        k-data-value-field="'TRXTypeID'"
                                                        k-data-source="CaseTypes"
                                                        k-on-change="CaseTypeViewUser_Changed()"
                                                        style="width: 200PX"></select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-left">User</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="UserName" ng-model="CM00073.UserName" readonly>
                                                <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('KaizenUser',null,'CaseTypeViewUsers')">
                                                    <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                
                                <fieldset>
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr style="text-transform: capitalize;">
                                                    <th class="col-sm-2 smart-form">

                                                    </th>
                                                    <th>View Name</th>
                                                    <th>Is Default</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="caseTypeView in CaseTypeViewsList">
                                                    <td class="col-sm-2 col-md-2 smart-form">
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="checkbox" ng-model="caseTypeView.isSelected" ng-click="UpdateCaseTypeViewUser(caseTypeView)" />
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                    <td>{{caseTypeView.ViewName}}</td>
                                                    <td><input type="checkbox"
                                                            name="checkbox"
                                                            ng-model="caseTypeView.IsDefault" ng-click="UpdateIsDefaultViewUser(caseTypeView)" /> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                                
                                @*<fieldset>
                                    <div class="form-controls">
                                        <button class="btn btn-primary" ng-click="UpdateCaseTypeViewUser()">Add</button>
                                    </div>
                                </fieldset>*@

                                @*<fieldset ng-show="CaseTypeViewUsers.length > 0">
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <th class="text-align-center">View ID</th>
                                                    <th class="text-align-center">User Name</th>
                                                    <th class="text-align-center">Is Default</th>
                                                    <th class="text-align-center">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="caseTypeViewUser in CaseTypeViewUsers" ng-class="{'deleted':caseTypeViewUser.status== 3}">
                                                    <td class="col-md-2">{{caseTypeViewUser.ViewID}}</td>
                                                    <td class="col-md-4">{{caseTypeViewUser.UserName}}</td>
                                                    <td class="col-md-4">{{caseTypeViewUser.IsDefault}}</td>
                                                    <td class="text-align-center col-md-1" style="font-size:20px;">
                                                        <a href="" ng-click="RemoveCaseTypeViewUser(caseTypeViewUser,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </fieldset>*@
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- end widget -->
        </div>
        <!-- WIDGET ROW END -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
