@{
    Layout = null;//  "~/Views/Shared/_LayoutPopUP.cshtml";
}

<style type="text/css">
    .fieldValueList div, .fieldLabelList div
    {
        display:inline-block;
        width:200px;
    }
</style>

<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
            <i class="fa fa-arrow-left"></i>
            <br />
            Back
        </a>
        <a href="javascript:void(0);" class="btn btn-default" ng-show="CaseTypeStandardFieldsList.length>0" ng-click="UpdateStandardFieldOrder();">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            <br />
            Save Order
        </a>
    </header>

    <div class="no-border overflow">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
        </div>
        <!-- end widget edit box -->
        <!-- widget grid -->
        <section id="widget-grid">

            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-md-12 col-lg-12 separator">
                    <!-- widget content-->
                    <div class="widget-body">                                                                       
                        <form class="form-horizontal" dnd-list="CaseTypeStandardFieldsList">
                            <fieldset>
                                <legend>
                                    Case Type Field Order Maintenance
                                </legend>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Case Type</label>
                                                <div class="col col-sm-8">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedType"
                                                            k-data-text-field="'TrxTypeName'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'TRXTypeID'"
                                                            k-data-source="CaseTypes"
                                                            k-on-change="CaseTypeChangedForFieldOrder()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br/><br/>
                            <fieldset ng-show="CaseTypeStandardFieldsList.length > 0">
                                <ul>
                                    <li class="fieldLabelList" style="list-style-type:none">
                                        <div class="text-align-center"><b>Field Name</b></div>
                                        <div class="text-align-center"><b>Field Display</b></div>
                                        <div class="text-align-center"><b>Field Order</b></div>
                                        <div class="text-align-center"><b>Field Width</b></div>
                                    </li>
                                </ul>
                                <ul dnd-list="CaseTypeStandardFieldsList">
                                    <li style="list-style-type:none" 
                                        ng-repeat="field in CaseTypeStandardFieldsList"
                                        dnd-draggable="field"
                                        dnd-effect-allowed="move"
                                        dnd-moved="CaseTypeStandardFieldsList.splice($index, 1); "
                                        dnd-selected="CaseTypeStandardFieldsList.selected = field">
                                        <div style="padding-bottom:10px" class="fieldValueList">
                                            <div>
                                                <dnd-nodrag>
                                                    <span>
                                                        <span dnd-handle>
                                                            <i class="glyphicon glyphicon-move"></i>
                                                        </span>
                                                    </span>
                                                </dnd-nodrag>
                                                <input type="text" placeholder="Field Name" ng-model="field.FieldName" disabled="disabled" />
                                            </div>
                                            <div >
                                                <input type="text" placeholder="Field Display" ng-model="field.FieldDisplay" disabled="disabled" maxlength="50" />
                                            </div>
                                            <div >
                                                <input type="number" placeholder="Field Order" ng-model="field.FieldOrder" disabled="disabled" />
                                            </div>
                                            <div>
                                                <input type="number" placeholder="Field Width" ng-model="field.FieldWidth" disabled="disabled" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </fieldset>
                        </form>
                        
                    </div>
                </article>
                
            </div>
            <!-- End Body -->
        </section>
        <!-- end widget content -->

    </div>
</div>


