@{
    Layout = null;//  "~/Views/Shared/_LayoutPopUP.cshtml";
}

<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">
    
    <header class="button-header">
        <a class="btn btn-default" ng-click="Cancel();"><i class="fa fa-arrow-left"></i><br />Back</a>
    </header>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET ROW START -->
            <!-- Widget ID (each widget will need unique ID)-->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget div-->
                    <div class="">
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="GL_GLCategoryForm" class="form-horizontal"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                
                                <fieldset>
                                    <legend>
                                        Case Type Products Maintenance
                                    </legend>

                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-left">Case Type</label>
                                        <div class="col-sm-4">
                                            <select kendo-drop-down-list
                                                    k-ng-model="CM00029.SelectedCaseType"
                                                    k-options="CaseTypeHasOptions"
                                                    k-on-change="CaseTypeChangedForProducts()"
                                                    style="width: 100%"></select>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-left">Product Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm" placeholder="Product Name"
                                                   ng-model="CM00055.ProductName" char-limit="50" maxlength="50" />
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-controls">
                                        <button class="btn btn-primary" ng-click="AddNewProduct()" ng-show="CM00055.status == 0 || CM00055.status == 1">Add Product</button>
                                        <button class="btn btn-primary" ng-click="UpdateProduct()" ng-show="CM00055.status == 2">Update Product</button>
                                    </div>
                                </fieldset>

                                <fieldset ng-show="CaseTypeProducts.length > 0">
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <th class="text-align-center">Product ID</th>
                                                    <th class="text-align-center">Product Name</th>
                                                    <th class="text-align-center">Edit</th>
                                                    <th class="text-align-center">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="caseTypeProduct in CaseTypeProducts" ng-class="{'deleted':caseTypeProduct.status== 3}">
                                                    <td class="col-md-2">{{caseTypeProduct.ProductID}}</td>
                                                    <td class="col-md-4">{{caseTypeProduct.ProductName}}</td>
                                                    <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                        <a href="" ng-click="EditProduct(caseTypeProduct)"><span class="glyphicon glyphicon-edit myhover"></span></a>
                                                    </td>
                                                    <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                        <a href="" ng-click="RemoveCaseTypeProduct(caseTypeProduct,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- end widget -->
        </div>
        <!-- WIDGET ROW END -->
        <!-- end row -->
    </section>
<!-- end widget grid -->
</div>
