@model Kaizen.Configuration.Kaizen00011
@{
    Layout = null;
}
<script>
    function btnEditPayment_Click(PaymentID) {
        var scope = angular.element(document.getElementById("widget-CMS_TRX_ManualPayment")).scope();
        scope.$apply(function () {
            scope.EditCM00307(PaymentID);
        });
    };
    function FormatAmount(data) {
        var number = kendo.toString(data.Amount, "n" + data.DecimalDigit);
        return number;
    };
    function PaymentMethodFilter(element) {
        var scope = angular.element(document.getElementById("widget-GridCMS_TRX_ManualPayment")).scope();
        element.kendoDropDownList({
            dataTextField: "PaymentMethodName",
            dataValueField: "PaymentMethodID",
            dataSource: scope.Paymentmethods,
            optionLabel: "--Select Payment Method--"
        });
    };
</script>
<div ng-controller="CMS_TRX_ManualPaymentController">
        <div class="widget" id="widget-CMS_TRX_ManualPayment">
            <div ng-show="PagesCM00307.length >0">
                <div ng-repeat="Page in PagesCM00307">
                    <div ng-include="Page.url">Content from blocks goes here</div>
                </div>
            </div>
            <div class="widget-body" ng-show="PagesCM00307.length == 0">
                <div kendo-toolbar k-options="toolbarOptions"></div>
                <div>
                    <div ng-include="MainGridURL">Data Grid here</div>
                    <div kendo-window="ExchangeRateWindow" k-title="'Exchange Rate'" k-modal="true"
                         k-actions="['Pin', 'Refresh', 'Maximize', 'Close']"
                         k-width="800" k-resizable="true" k-visible="false"></div>
                </div>
            </div>
        </div>
</div>