@{
    Layout = null;
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="no-padding-top">
                    <div class="widget-body">
                        <form id="Sys_CompanyModulesForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>
                            <fieldset>
                                <legend>
                                    Company Modules Setup
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Company</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-filter="'startswith'"
                                                k-option-label="'-- Select Company --'"
                                                k-ng-model="Kaizen00101.CompanyID"
                                                k-data-text-field="'CompanyName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'CompanyID'"
                                                k-data-source="Companies"
                                                k-on-change="ModuleCompanyChanged()"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="Kaizen00101.CompanyID != undefined && Kaizen00101.CompanyID != ''">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr style="text-transform: capitalize;">
                                                <th class="col-sm-2 smart-form">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox" checkbox-all="Modules.isSelected" />
                                                        <i></i>Access All
                                                    </label>
                                                </th>
                                                <th>Module ID</th>
                                                <th>Module Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="module in Modules">
                                                <td class="col-sm-2 col-md-2 smart-form">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="checkbox" 
                                                               ng-model="module.isSelected" 
                                                               ng-click="CheckCompanyModule(module);"/>
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>{{module.ModuleID}}</td>
                                                <td>{{module.ModuleName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>