@{
    Layout = null;
}
<script>
    function UserImage_onSuccess(e) {
        var responseTxt = jQuery.parseJSON(e.XMLHttpRequest.responseText);
        var scope = angular.element(document.getElementById("DvUser")).scope();
        if (responseTxt == "1") {/// remove
            scope.$apply(function () {
                scope.RemoveUserPhotoExtension(responseTxt);
            });
        } else {
            scope.$apply(function () {
                scope.SetUserPhotoExtension(responseTxt);
            });
        }
    }
</script>
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="no-padding-top">
                    <div class="widget-body">
                        <form id="myForm" name="myForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a ng-show="myForm.NewPassword.$valid && myForm.ConfirmPassword.$valid"
                                        href="javascript:void(0);" class="btn btn-primary" ng-click="UpdatePassword();">
                                        <i class="glyphicon glyphicon-edit"></i> Update & Close
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-info" ng-click="Clear();">
                                        <i class="fa fa-eraser"></i> Clear
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>
                            <fieldset>
                                <legend>
                                    User Default Setup
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">User</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-disabled="User.Status == 2"
                                                   placeholder="UserName" ng-model="User.UserName" readonly />
                                            <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('KaizenUser',null,'UserDefaults')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left"></label>
                                    <div class="col-sm-4">
                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">New Password</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="password" class="form-control" 
                                                   name="NewPassword" required
                                                   placeholder="New Password" ng-model="User.NewPassword" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left"></label>
                                    <div class="col-sm-4">
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Confirm Password</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="ConfirmPassword" required
                                                   placeholder="New Password" ng-model="User.ConfirmPassword" />
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left"></label>
                                    <div class="col-sm-4">

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>