@{
    Layout = null;
}
<script>
    function GetLogListWithUser() {
        var FieldID = "-1";
        var FltrOperator = 8;

        var e = document.getElementById("DropFieldID");
        if (e != null)
            FieldID = e.options[e.selectedIndex].value;
        //----------------------------------------------------------------------------------
        var ObjDropFltrOperator = document.getElementById("DropFltrOperator");
        if (ObjDropFltrOperator != null)
            FltrOperator = ObjDropFltrOperator.options[ObjDropFltrOperator.selectedIndex].value;
        //----------------------------------------------------------------------------------
        var searchcritaria = $("#SearchcritariaPopUp").val();

        var ActiveScreenID = $("#ActiveScreenID").val();
        var widget = $("#widget-" + ActiveScreenID)
        var scope = angular.element(widget).scope();
        return {
            FromDate: scope.User.FromDate,
            ToDate: scope.User.ToDate,
            Searchcritaria: searchcritaria,
            UserName: scope.User.UserName,
            CompanyID: scope.User.CompanyID,
            KaizenPublicKey: sessionStorage.PublicKey
        };
    };
</script>
<section id="widget-grid">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="no-padding-top">
                    <div class="widget-body">
                        <form id="SysUserLogForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>
                            <fieldset>
                                <legend>
                                    User Log
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Company</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                id="Companies"
                                                k-filter="'startswith'"
                                                k-option-label="'-- Select Company --'"
                                                k-ng-model="User.CompanyID"
                                                k-data-text-field="'CompanyName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'CompanyID'"
                                                k-data-source="Companies"
                                                k-on-change="LogCompanyChanged();"
                                                style="width: 100%"></select>
                                    </div>
                                    <label class="col-sm-2 control-label text-left">User</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="UserName" ng-model="User.UserName" readonly>
                                            <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('KaizenUser',null,'UserLog')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">From Date</label>
                                    <div class="col-sm-4">
                                        <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                               k-ng-model="User.FromDate" style="width: 100%;" />
                                    </div>
                                    <label class="col-sm-2 control-label text-left">To Date</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                                   k-ng-model="User.ToDate" style="width: 100%;" />
                                            <span class="input-group-btn input-group-sm" 
                                                  ng-click="GridRefresh('GridSysUserLog')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div ng-show="User.UserName != '' && User.UserName != undefined">
                            @(Html.Kendo().Grid<Kaizen.Configuration.KaizenSession>()
                               .Name("GridSysUserLog")
                               .Columns(columns =>
                               {
                                   columns.Bound(c => c.LoginDate).Width(120).Format("{0:dd/MM/yyyy hh:mm:ss tt}").Filterable(false);
                                   columns.Bound(c => c.LoginDateOut).Width(120).Format("{0:dd/MM/yyyy hh:mm:ss tt}").Filterable(false);
                               })
                                .Filterable().AutoBind(false)
                                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Log from {0} to {1}. Total Logs: <strong>{2}</strong>")
                                .ItemsPerPage("Log Per page").Empty("No Log Information")).Refresh(true).PageSizes(true).Input(true).ButtonCount(14))
                                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                                .Navigatable()
                                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                .Reorderable(reorder => reorder.Columns(true))
                                .Resizable(ss => ss.Columns(true))
                                .ColumnMenu().Scrollable(s => s.Height(400))
                                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(20)
                                .Read(read => read.Action("GetLogListGridWithUser", "SysUser")
                                .Type(HttpVerbs.Get).Data("GetLogListWithUser"))
                                .Model(model =>
                                {
                                    model.Id(o => o.UserName);
                                    model.Field(o => o.UserName);
                                    model.Field(o => o.CompanyName);
                                    model.Field(o => o.CompanyID);
                                    model.Field(o => o.KaizenPublicKey);
                                    model.Field(o => o.LoginDate);
                                    model.Field(o => o.LoginDateOut);
                                })
                                )
                            )
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>