@{
    Layout = null;
}
<script>
    function btnSelect_Click(e) {
        e.preventDefault();
        try {
            var ActiveScreenID = $("#ActiveScreenID").val();
            var widget = $("#widget-" + ActiveScreenID)
            var data = this.dataItem($(e.currentTarget).closest("tr"));
            var scope = angular.element(widget).scope();
            scope.$apply(function () {
                scope.CountryBack(data);
            });
            var kendoWindow = $("#MainDialog").data("kendoWindow");
            kendoWindow.close();
        }
        catch (err) {
            alert("Error \n\n" + err.message);
        }
    };
    function RefreshGrid() {
        var grid = $("#GridAdm_CountryPopUp").data("kendoGrid");
        grid.dataSource.read();
    };
</script>
<div class="panel panel-default">
    <div class="panel-body no-padding">
        <fieldset class="margin-15">
            <div class="form-group">
                <label class="col-sm-1 control-label text-center">Field</label>
                <div class="col-sm-2">
                    <select id="DropFieldID" class="form-control" style="height: auto;">
                        <option value="CountryID">Country ID</option>
                        <option value="CountryName">Country Name</option>
                        <option value="-1" selected>All</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label text-center">Operator</label>
                <div class="col-sm-2">
                    <select class="form-control" id="DropFltrOperator" style="height: auto;">
                        <option value="0">Is Less Than</option>
                        <option value="1">Is Less Than Or Equal To</option>
                        <option value="2">Is Equal To</option>
                        <option value="3">Is Not Equal To</option>
                        <option value="4">Is Greater Than Or Equal To</option>
                        <option value="5">Is Greater Than</option>
                        <option value="6">Starts With</option>
                        <option value="7">Ends With</option>
                        <option value="8" selected>Contains</option>
                        <option value="9">Is Contained In</option>
                        <option value="10">Does Not Contain</option>
                    </select>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="input-group">
                        <input class="form-control" id="SearchcritariaPopUp" type="text">
                        <div class="input-group-btn input-group-sm" onclick="RefreshGrid()">
                            <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    @(Html.Kendo().Grid<Kaizen.Admin.Sys00013>().Name("GridAdm_CountryPopUp")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.CountryID).Title("Country Code");
                        columns.Bound(c => c.CountryName).Title("Country Name");
                        columns.Command(command => command.Custom("Select").SendDataKeys(true)
                        .Click("btnSelect_Click"));
                    })
                        .Pageable(pager => pager.Messages(messages => messages.Display("Showing Country from {0} to {1}. Total Countries: <strong>{2}</strong>")
                        .ItemsPerPage("Country Per page").Empty("No Country Information")).Refresh(true).PageSizes(true).Input(true).ButtonCount(10))
                        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                        .Navigatable()
                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Resizable(ss => ss.Columns(true))
                        .ColumnMenu().Scrollable(s => s.Height(350)).Filterable()
                        .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(20)
                        .Read(read => read.Action("GetListPopUpGrid", "Adm_Country").Type(HttpVerbs.Get)
                        .Data("GetGenericPopUpKaizenPublicKey"))
                        .Model(model =>
                            {
                                model.Id(o => o.CountryID);
                                model.Field(o => o.CountryID);
                                model.Field(o => o.CountryName);
                            })
                        )
    )
</div>
