@{
    Layout = null;
}
@(Html.Kendo().Grid<Kaizen.CMS.CM00130>()
.Name("GridCO_Partner")
.Columns(columns =>
{
    @*foreach (Kaizen.Configuration.Kaizen00026 column in ViewBag.KaizenGridViewColumn)
    {
        switch (column.field.Trim())
        {
            case "PhotoExtension":
                columns.Template(@<text></text>).ClientTemplate("#= ShowItemImage(data) #").Locked(column.locked).Width(column.width);
                break;
            case "PartnerID":
                break;
            case "ClientName":
                columns.Bound("ClientName").Locked(column.locked).Width(column.width).Title(column.title);
                break;

        }
    }*@
    columns.Bound(c => c.PartnerID).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditPartner_Click('#:PartnerID#');""> #:PartnerID# </a>").Width(100).Title("Partner ID");
    columns.Bound(c => c.PartnerName).ClientTemplate(@"#:PartnerName# </a>").Width(100).Title("Partner Name");
    columns.Bound(c => c.ShortName).ClientTemplate(@"#:ShortName# </a>").Width(100).Title("Short Name");
    columns.Bound(c => c.PartnerClassID).ClientTemplate(@"#:PartnerClassID# </a>").Width(100).Title("Partner Class ID");
    columns.Bound(c => c.StatusID).ClientTemplate(@"#:StatusID# </a>").Width(100).Title("Status ID");
})
    .Excel(excel => excel.AllPages(true).FileName("PartnerList.xlsx").Filterable(true))
    .Pdf(pdf => pdf.FileName("PartnerList.pdf")
    .AllPages().Date(DateTime.Now))
                .Pageable(pager => pager.Messages(messages => messages.Display("Partners from {0} to {1}. Total Partners: <strong>{2}</strong>")
        .ItemsPerPage("Partner Per page").Empty("No Partners")).Refresh(true)
        .PageSizes(true).Input(true).ButtonCount(5))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
        .Navigatable().Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Reorderable(reorder => reorder.Columns(true)).Resizable(ss => ss.Columns(true))
        .ColumnMenu().Scrollable().Filterable()
        .DataSource(dataSource => dataSource.Ajax().ServerOperation(true)
        .PageSize(20).Sort(sort => sort.Add(ss => ss.PartnerID).Descending())
.Read(read => read.Action("GetDataListGrid", "CO_Partner").Type(HttpVerbs.Get).Data("GetKaizenPublicKey"))
.Model(model =>
{
    model.Id(o => o.PartnerID);
})
)
)
<script>
    $(document).ready(function () {
        var ActiveScreenID = $("#ActiveScreenID").val();
        resizeGrid("Grid" + ActiveScreenID);
    })
</script>