@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="SaveData();"
           ng-show="SOP10305.Status == 1">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Save &amp; Close
        </a>
        <a class="btn btn-default" ng-click="UpdateData();"
           ng-show="SOP10305.Status == 2">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Update &amp; Close
        </a>
        <a class="btn btn-default" ng-click="Delete();" ng-show="SOP10305.Status == 2"><i class="glyphicon glyphicon-trash"></i><br />Delete </a>
        <a class="btn btn-default" ng-click="Clear();"><i class="glyphicon glyphicon-remove"></i><br />Clear </a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-print"></i><br />Print </a>
        <a class="btn btn-default" ng-click="Cancel();"><i class="glyphicon glyphicon-remove-circle"></i><br />Cancel </a>
    </header>

    <!-- widget div-->
    <div class="no-border overflow">
        <div class="widget-body">
            <div class="row">
                <article class="col-md-12 col-lg-12 separator">
                    <div class="row no-padding">
                        <form class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Voucher No.</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Voucher No."
                                                   ng-disabled="SOP10305.Status == 2" ng-model="SOP10305.VoucherTrxNumber" maxlength="10" />
                                        </label>
                                        <label class="col col-md-2 control-label">Voucher Amount</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Voucher Amount"
                                                   ng-model="SOP10305.VoucherAMT" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Voucher Count</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Voucher Count" 
                                                   ng-model="SOP10305.VoucherCount" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Voucher Start Date</label>
                                        <label class="col col-md-4">
                                            <input kendo-date-picker
                                                   k-ng-model="SOP10305.VoucherStartDate"
                                                   k-format="'dd/MM/yyyy'"
                                                   style="width: 100%;" />
                                        </label>
                                        <label class="col col-md-2 control-label">Voucher End Date</label>
                                        <label class="col col-md-4">
                                            <input kendo-date-picker
                                                   k-ng-model="SOP10305.VoucherEndDate"
                                                   k-format="'dd/MM/yyyy'"
                                                   style="width: 100%;" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Barcode Prefix</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Barcod Prefix"
                                                    ng-model="SOP10305.BarcodPrefix" maxlength="5" />
                                        </label>
                                        <label class="col col-md-2 control-label">Barcode Length</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Barcode Length"
                                                   ng-model="SOP10305.BarcodLenth" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Barcode Start Number</label>
                                        <label class="input col col-md-4">
                                            <input type="text" class="form-control" placeholder="Barcode Start Number"
                                                   ng-model="SOP10305.BarcodStartNumber" />
                                        </label>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
            <!-- End Body -->
        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->
</div>