@{
    Layout = null;
}

<div ng-controller="TeamCalendarController">
    <div id="widget-TeamCalendar">
        <div ng-show="PagesMet00001.length > 0">
            <div ng-repeat="Page in PagesMet00001">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesMet00001.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div class="jarviswidget" data-widget-colorbutton="false"
                 data-widget-editbutton="false"
                 data-widget-togglebutton="false"
                 data-widget-deletebutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-custombutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">


                <div class="no-border overflow">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget grid -->
                    <section id="widget-grid">

                        <div class="row">

                            <!-- NEW WIDGET START -->
                            <article class="col-md-12 col-lg-12 separator">
                                <!-- widget content-->
                                <div class="widget-body">
                                    <form class="form-horizontal">
                                        <fieldset>
                                            <legend>
                                                Team Up Calendar Maintenance
                                            </legend>
                                        </fieldset>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="col-sm-12 no-padding margin-bottom-5">
                                                            <label class="col col-sm-4 control-label text-left">Calendar Name</label>
                                                            <label class="input col col-sm-8 col-xs-12">
                                                                <input type="text" class="form-control input-sm" placeholder="Calendar Name"
                                                                       ng-model="Met00001.CalendarName" char-limit="50" maxlength="50" />
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-sm-12 no-padding margin-bottom-5">
                                                            <label class="col col-sm-4 control-label text-left">Calendar Color</label>
                                                            <label class="input col col-sm-8 col-xs-12">
                                                                <input kendo-color-picker k-palette="'websafe'" ng-model="Met00001.CalendarColor" />
                                                                &nbsp;
                                                                &nbsp;
                                                                <label><b>{{Met00001.CalendarColor}}</b></label>
                                                                @*<input type="text" class="form-control input-sm" placeholder="Calendar Color"
                                                            ng-model="Met00001.CalendarColor" char-limit="20" maxlength="20" />*@
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="col-sm-12 no-padding margin-bottom-5">
                                                            <label class="col-sm-4 control-label text-left">User Name</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="UserName" ng-model="Met00001.UserName" readonly>
                                                                    <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('KaizenUser',null,'TeampUpCalendarUsers')">
                                                                        <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="form-controls">
                                                <button class="btn btn-primary" ng-click="AddTeamCalendar()" ng-show="Met00001.status == 0 || Met00001.status == 1">Add Calendar</button>
                                                <button class="btn btn-primary" ng-click="UpdateTeamCalendar()" ng-show="Met00001.status == 2">Update Calendar</button>
                                            </div>
                                        </fieldset>

                                        <br />

                                        <fieldset ng-show="TeamUpCalendarList.length > 0">
                                            <div class="form-group">
                                                <table class="table table-bordered table-hover table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-align-center">Calendar Name</th>
                                                            <th class="text-align-center">Color</th>
                                                            <th class="text-align-center">User Name</th>
                                                            <th class="text-align-center">Edit</th>
                                                            <th class="text-align-center">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="teamUpObj in TeamUpCalendarList" ng-class="{'deleted':teamUpObj.status== 3}">
                                                            <td class="col-md-2">{{teamUpObj.CalendarName}}</td>
                                                            <td class="col-md-4">{{teamUpObj.CalendarColor}}</td>
                                                            <td class="col-md-4">{{teamUpObj.UserName}}</td>
                                                            <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                                <a href="" ng-click="EditTeamCalendar(teamUpObj)"><span class="glyphicon glyphicon-edit myhover"></span></a>
                                                            </td>
                                                            <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                                <a href="" ng-click="RemoveTeamCalendar(teamUpObj,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </fieldset>
                                    </form>
                                </div>
                            </article>
                        </div>
                        <!-- End Body -->
                    </section>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->
            </div>
        </div>
    </div>
</div>