@{
    Layout = null;
}
<script src="~/ScriptUI/Admin/Sys_PopUpController.js"></script>
<div class="panel panel-default" ng-controller="Sys_PopUpController">
    <kendo-grid options="GenericGridOptions"></kendo-grid>
</div>


