.hlError {
    background-color: #fea;
    color: #f33;
}

.hlOK {
    background-color: #aef;
    color: #060;
}

.inlineCode {
    font: bold 12px monospace;
}

.marker {
    border: 1px solid #DDD;
    display: inline-block;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(180,180,180,0.1);
    box-shadow: 0 1px 1px 0 rgba(180,180,180,0.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 4px;
    margin: 0 3px 6px 0;
    padding: 5px 10p;
    color: #444;
    background-color: #fff;
    border-color: #ccc;
}

    .marker:hover {
        border-color: #b8b8b8;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
        box-shadow: 0 1px 0 rgba(0,0,0,.1);
        background-color: #e6e6e6;
        border-radius: 4px;
    }
