
@{
    Layout = null;
}
<script>
    function btnEditCMS_DebtorStatus_Click(DebtorStatusID) {
        var scope = angular.element(document.getElementById("widget-CMS_DebtorStatus")).scope();
        scope.$apply(function () {
            scope.EditCM00014(DebtorStatusID);
        });
    };
</script>
<div ng-controller="CMS_DebtorStatusController">
    <div class="widget" id="widget-CMS_DebtorStatus">
        <div ng-show="PagesCM00014.length > 0">
            <div ng-repeat="Page in PagesCM00014">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesCM00014.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00014>()
                .Name("GridCMS_DebtorStatus")
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditCMS_DebtorStatus_Click('#:DebtorStatusID#');""> #:DebtorStatusID# </a>").Width(100).Title("Debtor Status ID");
                    columns.Bound(c => c.DebtorStatusName);
                })
                .Filterable()
                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Debtor Status from {0} to {1}. Total Debtor Status: <strong>{2}</strong>")
                .ItemsPerPage("Debtor Status Per page").Empty("No Debtor Status Information")).Refresh(true).PageSizes(true)
                .Input(true).ButtonCount(5))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Navigatable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(ss => ss.Columns(true))
                .ColumnMenu()
                .Scrollable(ss => ss.Height(500))
                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(10)
                .Read(read => read.Action("GetDataListGrid", "CMS_DebtorStatus").Type(HttpVerbs.Get)
                .Data("GetKaizenPublicKey"))
                .Model(model => model.Id(p => p.DebtorStatusID)))
                )
            </div>
            <div kendo-window="GridFilterWindow" k-title="'Filteration'" k-modal="true"
                 k-actions="['Pin', 'Refresh', 'Maximize', 'Close']"
                 k-width="600" k-resizable="true" k-visible="false"></div>
        </div>
    </div>
</div>




