@{
    Layout = null;//  "~/Views/Shared/_LayoutPopUP.cshtml";
}

<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
            <i class="fa fa-arrow-left"></i>
            <br />
            Back
        </a>
    </header>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET ROW START -->
            <!-- Widget ID (each widget will need unique ID)-->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget div-->
                    <div class="no-padding-top">
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="GL_GLCategoryForm" class="form-horizontal"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                <fieldset>
                                    <legend>
                                        Role Company Maintenance
                                    </legend>
                                    <div class="form-group">
                                        <label class="col col-md-2 col-sm-2 control-label">Company</label>
                                        <label class="input col col-md-4 col-sm-4">
                                            <select kendo-drop-down-list
                                                    k-filter="'startswith'"
                                                    k-option-label="'-- Select Company --'"
                                                    k-ng-model="Kaizen004.CompanyID"
                                                    k-data-text-field="'CompanyName'"
                                                    k-value-primitive="true"
                                                    k-data-value-field="'CompanyID'"
                                                    k-data-source="Companies"
                                                    k-on-change="CompanyChanged()"
                                                    style="width: 100%"></select>
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr style="text-transform: capitalize;">
                                                    <th class="col-sm-2 smart-form">
                                                        @*<label class="checkbox">
                                                                <input type="checkbox" name="checkbox" ng-click="UserAccessAllRoles();"
                                                                       checkbox-all="Roles.isSelected" />
                                                                <i></i>Access All
                                                            </label>*@
                                                    </th>
                                                    <th>Role Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="role in Roles">
                                                    <td class="col-sm-2 col-md-2 smart-form">
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="checkbox" ng-model="role.isSelected" ng-click="UpdateCompanyRole(role)" />
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                    <td>{{role.RoleName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- end widget -->
        </div>
        <!-- WIDGET ROW END -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
