@{
    Layout = null;
}
<script>
    function btnEditCMS_CM00030_Click(TemplateID) {
        var scope = angular.element(document.getElementById("widget-CO_Email")).scope();
        scope.$apply(function () {
            scope.EditCM00030(TemplateID);
        });
    }
</script>
<!-- widget grid -->
<div ng-controller="CO_EmailController">
    <div id="widget-CO_Email">
        <div ng-show="PagesCM00030.length > 0">
            <div ng-repeat="Page in PagesCM00030">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div ng-show="PagesCM00030.length == 0">
            <div kendo-toolbar k-options="toolbarOptions"></div>
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00030>()
                        .Name("GridCMS_CM00030")
                        .Columns(columns =>
                        {
                            columns.Template(@<text></text>).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditCMS_CM00030_Click('#:TemplateID#');""> #:TemplateID# </a>").Width(100).Title("Template ID");
                            columns.Bound(c => c.TemplateName);
                        })
                        .HtmlAttributes(new { style = "height:500px;" })
                        .Scrollable(scrollable => scrollable.Virtual(true))
                        .Pageable(pager => pager.Messages(messages => messages.Display("Showing Templates from {0} to {1}. Total Templates: <strong>{2}</strong>").Empty("Template Information")).Refresh(true).PageSizes(true).ButtonCount(14))
                        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                        .Navigatable()
                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                        .Reorderable(reorder => reorder.Columns(true))
                        .Resizable(ss => ss.Columns(true))
                        .ColumnMenu()
                        .Filterable()
                        .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(17)
                        .Read(read => read.Action("GetDataListGrid", "CO_Email")
                                                .Type(HttpVerbs.Get).Data("GetKaizenPublicKey")).Model(model => model.Id(p => p.TemplateID)))
                )
            </div>
        </div>
    </div>
</div>