@{
    Layout = null;
}
<script>
    function btnEditCMS_Set_AddressCodeTypeLegal_Click(AddressCodeType) {
        var scope = angular.element(document.getElementById("widget-CMS_Set_AddressCodeType")).scope();
        scope.$apply(function () {
            scope.EditAddressType(AddressCodeType);
        });
    };
</script>
<div id="widget-CMS_Set_AddressCodeType">
    @(Html.Kendo().Grid<Kaizen.CMS.CM00034>()
                                .Name("GridCMS_Set_AddressCodeTypeLegal")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.AddressCodeType).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditCMS_Set_AddressCodeTypeLegal_Click('#:AddressCodeType#');""> #:AddressCodeType# </a>").Width(100).Title("Address Type ID");
                            columns.Bound(c => c.AddressTypeName);
                        })
                .HtmlAttributes(new { style = "height:500px;" })
                .Scrollable(scrollable => scrollable.Virtual(true))
                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Address Types from {0} to {1}. Total Address Types: <strong>{2}</strong>").Empty("No Address Type Information")).Refresh(true).PageSizes(true).ButtonCount(14))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Navigatable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(ss => ss.Columns(true)).ColumnMenu().Filterable()
                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(17)
                .Read(read => read.Action("GetDataListGrid", "CMS_Set_AddressCodeTypeLegal")
                .Type(HttpVerbs.Get).Data("GetGenericKaizenPublicKey"))
                .Model(model => model.Id(p => p.AddressCodeType)))
    )
</div>
