@{
    Layout = null;
}

<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="SaveDashboardReport();">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Save &amp; Close
        </a>
        <a class="btn btn-default" ng-click="Cancel();"><i class="glyphicon glyphicon-remove-circle"></i><br />Cancel </a>
    </header>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET ROW START -->
            <!-- Widget ID (each widget will need unique ID)-->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget div-->
                    <div class="no-padding-top">
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="GL_GLCategoryForm" class="form-horizontal"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                <fieldset>
                                    <legend>
                                        Dashboard Report Maintenance
                                    </legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-left">Report Type</label>
                                        <div class="col-sm-4">
                                            <select kendo-drop-down-list
                                                    k-filter="'startswith'"
                                                    k-option-label="'-- Select Report Type --'"
                                                    k-ng-model="SelectedReportType.ReportTypeID"
                                                    k-data-text-field="'ReportTypeName'"
                                                    k-value-primitive="true"
                                                    k-data-value-field="'ReportTypeID'"
                                                    k-data-source="ReportTypes"
                                                    k-on-change="ReportTypeChangedForDashboard()"
                                                    style="width: 100%"></select>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <table class="table table-bordered table-hover table-responsive">
                                            <thead>
                                                <tr style="text-transform: capitalize;">
                                                    <th class="col-sm-2 smart-form">

                                                    </th>
                                                    <th>Report Name</th>
                                                    <th>Dashboard Code</th>
                                                    <th>Is Default</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dashboard in DashboardReportList">
                                                    <td class="col-sm-2 col-md-2 smart-form">
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="checkbox" ng-model="dashboard.isSelected" ng-click="AddorRemoveDashboardReport(dashboard)" />
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                    <td>{{dashboard.ReportName}}</td>
                                                    <td>
                                                        <select kendo-drop-down-list
                                                                k-filter="'startswith'"
                                                                k-option-label="'-- Select Dashboard Code --'"
                                                                k-ng-model="dashboard.DashboardCode"
                                                                k-data-text-field="'DashboardName'"
                                                                k-value-primitive="true"
                                                                k-data-value-field="'DashboardCode'"
                                                                k-data-source="DashboardList"
                                                                k-on-change="DashboardCodeChangedForReport()"
                                                                style="width: 100%" ng-disabled="dashboard.Status==2"></select>
                                                    </td>
                                                    <td class="col-sm-2 col-md-2 smart-form">
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="checkbox" ng-model="dashboard.IsDefault" />
                                                            <i></i>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
            <!-- end widget -->
        </div>
        <!-- WIDGET ROW END -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
