@{
    Layout = null;
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="no-padding-top">
                    <fieldset class="widget-body">
                        <form id="CMS_ReminderDebtorPaymentForm"
                              kendo-validator="validator"
                              class="form-horizontal" 
                              data-bv-message="This value is not valid" novalidate 
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-primary"
                                        ng-click="SaveDebtorPayment();"
                                       ng-show="CM00207.Total_Amount > 0 && CM00207.Total_Amount == CM00207.Amount">
                                        <i class="glyphicon glyphicon-floppy-disk"></i> Save & Close
                                    </a>
                                    <a href="javascript:void(0);" 
                                       class="btn btn-info" ng-click="ClearPayment();">
                                        <i class="fa fa-eraser"></i> Clear
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default" 
                                       ng-click="GoTo('MainGrid');">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>

                            <fieldset>
                                <legend>
                                    Debtor Receipt
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Debtor</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" ng-model="CM00207.DebtorID"
                                                   placeholder="Debtor ID" class="form-control" readonly />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('CMS_Debtor','PopUp',null,'DebtorPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Transaction Ref</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Receipt"
                                               ng-model="CM00207.PaymentID" required />
                                    </div>
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Agent</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" ng-model="CM00207.AgentID"
                                                   placeholder="Agent ID" class="form-control" readonly />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('CMS_Agent','PopUp',null,'DebtorPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Currency</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Currency"
                                                   ng-model="CM00207.CurrencyCode"
                                                   data-bv-notempty="true" readonly
                                                   data-bv-notempty-message="The Currency is required and cannot be empty" />
                                            <div class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('GL_Currency', 'SinglePopUp',null,'DebtorPayment')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </div>
                                            <div class="input-group-btn input-group-sm" ng-disabled="CM00207.CurrencyCode == undefined || CM00207.CurrencyCode == ''"
                                                 ng-click="OpenkendoWindow('GL_Currency', 'ExchangeTablePopUp', CM00207.CurrencyCode, 'DebtorPayment')">
                                                <a href="javascript:void(0);" class="btn btn-default" ng-show="CM00207.ExchangeTableID == undefined || CM00207.ExchangeTableID == ''">Select Table</a>
                                                <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM00207.ExchangeTableID == undefined || CM00207.ExchangeTableID == ''">{{CM00207.ExchangeTableID}}</a>
                                            </div>
                                            <div class="input-group-btn input-group-sm" ng-disabled="CM00207.CurrencyCode == undefined || CM00207.CurrencyCode == '' || CM00207.ExchangeTableID == undefined || CM00207.ExchangeTableID == ''"
                                                 ng-click="OpenExchangeRateWindow();">
                                                <a href="javascript:void(0);" class="btn btn-default" ng-show="CM00207.ExchangeRateID == undefined || CM00207.ExchangeRateID == ''">Select Rate</a>
                                                <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM00207.ExchangeRateID == undefined || CM00207.ExchangeRateID == ''">{{CM00207.ExchangeRate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Payment Date</label>
                                    <div class="col-sm-4">
                                        <input kendo-date-picker
                                               k-ng-model="CM00207.PaymentDate" style="width: 100%;" />
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Check Book</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly
                                                   placeholder="Checkbook Code" ng-model="CM00207.CheckbookCode" />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('GL_Checkbook','PopUp',CM00207.CurrencyCode,'DebtorPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Amount</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Payment Amount"
                                               ng-model="CM00207.Amount" ng-required="true"
                                               ng-decimal decimal="CM00207.DecimalDigit"
                                               ng-blur="DebtorAmountChanged()" select-on-click />
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="CM00207.CheckbookCode !=null && CM00207.CheckbookCode !=''">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Payment Method</label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model="CM00207.PaymentMethodID"
                                                ng-change="GetNextPaymentNumber()" convert-to-number>
                                            <option value="1">Cash</option>
                                            <option value="2">Credit</option>
                                            <option value="3">Check</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-2 control-label text-left txt-color-red bold">Payment Number</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Payment Number"
                                               ng-model="CM00207.PaymentNumber" required />
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="CM00207.PaymentMethodID != 1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Bank Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control"
                                               placeholder="Bank Name" ng-model="CM00207.BankName">
                                    </div>
                                    <label class="col-sm-2 control-label text-left">Bank Code</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly
                                                   placeholder="Bank Code" ng-model="CM00207.BankCode" />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('GL_Set_BankList','PopUp',null,'DebtorPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="CM00207.PaymentMethodID != 1">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Bank Check Date</label>
                                    <div class="col-sm-4">
                                        <input kendo-date-picker
                                               k-ng-model="CM00207.BankCheckDate" style="width: 100%;" />
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Description</label>
                                    <div class="col-sm-4">
                                        <textarea type="text" class="form-control" style="width: 100%;"
                                                  placeholder="Description" ng-model="CM00207.Description"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset ng-show="CM00207.DebtorID !=null && CM00207.DebtorID !=''">
                                <table class="table table-hover table-bordered table-striped" ng-show="DebtorCases.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="checkbox no-padding-top">
                                                    <label>
                                                        <input type="checkbox" class="checkbox style-0" checkbox-all="DebtorCases.isSelected">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </th>
                                            <th><h5 class="text-center">Case Reference</h5></th>
                                            <th><h5 class="text-center">Currency Code</h5></th>
                                            <th><h5 class="text-center">Claim Amount</h5></th>
                                            <th><h5 class="text-center">Applied Amount</h5></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="debtorCase in DebtorCases">
                                            <td class="text-center">
                                                <div class="checkbox no-padding-top">
                                                    <label>
                                                        <input type="checkbox" class="checkbox style-0" ng-model="debtorCase.isSelected"
                                                               ng-change="LineCheckChange(debtorCase)">
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-center">{{debtorCase.CaseRef}}</td>
                                            <td class="text-center">{{debtorCase.CurrencyCode}}</td>
                                            <td class="text-center">{{debtorCase.ClaimAmount | number:debtorCase.DecimalDigit}}</td>
                                            <td class="text-center">
                                                <input type="text" class="form-control text-center" ng-model="debtorCase.AppliedAmount"
                                                       focus-me="debtorCase.Focus"
                                                       ng-decimal decimal="CM00207.DecimalDigit"
                                                       ng-disabled="debtorCase.isSelected != true"
                                                       ng-blur="AmountApplied(debtorCase)" select-on-click />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="invisible bg-snow"></td>
                                            <td class="text-center"><strong>Total</strong></td>
                                            <td class="text-center "><strong>{{CM00207.Total_ClaimAmount | number : CM00207.DecimalDigit}}</strong></td>
                                            <td class="text-center "><strong>{{CM00207.Total_Amount | number : CM00207.DecimalDigit}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </form>
                    </fieldset>
                </div>
            </div>
        </article>
    </div>
</section>