@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">
    <header class="button-header">
        <a class="btn btn-default" ng-click="SaveManualPaymentData();"
           ng-show="CM00307.Status == 1 && CM00307.Total_Amount > 0 && CM00307.Total_Amount == CM00307.Amount">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Save &amp; Close
        </a>
        <a class="btn btn-default" ng-click="DeleteManualPayment();" ng-show="CM00307.Status == 2"><i class="glyphicon glyphicon-trash"></i><br />Delete </a>
        <a class="btn btn-default" ng-click="ClearManualPayment();"><i class="glyphicon glyphicon-remove"></i><br />Clear </a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-print"></i><br />Print </a>
        <a class="btn btn-default" ng-click="GoTo('MainGrid');"><i class="glyphicon glyphicon-remove-circle"></i><br />Cancel </a>
    </header>
    <div class="no-border overflow">
        <div class="widget-body">
            <div class="row">
                <article class="col-md-12 col-lg-12">
                    <div class="row no-padding">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="row">
                                    <label class="col col-md-2 control-label txt-color-red bold">Transaction Ref</label>
                                    <div class="form-group col-md-4">
                                        <div class="input-group full-control">
                                            <input type="text" class="form-control" placeholder="Receipt"
                                                   ng-model="CM00307.PaymentID" required
                                                   ng-disabled="CM00307.Status == 2" />
                                        </div>
                                    </div>
                                    <label class="col col-md-2 control-label txt-color-red bold">Agent</label>
                                    <div class="form-group col-md-4">
                                        <div class="input-group">
                                            <input type="text" ng-model="CM00307.AgentID"
                                                   placeholder="Agent ID" class="form-control" readonly />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('CMS_Agent','PopUp',null,'ManualPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col col-md-2 control-label txt-color-red bold">Currency</label>
                                    <div class="form-group col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Currency"
                                                   ng-model="CM00307.CurrencyCode"
                                                   data-bv-notempty="true" readonly
                                                   data-bv-notempty-message="The Currency is required and cannot be empty" />
                                            <div class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('GL_Currency', 'SinglePopUp',null,'ManualPayment')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </div>
                                            <div class="input-group-btn input-group-sm" ng-disabled="CM00307.CurrencyCode == undefined || CM00307.CurrencyCode == ''"
                                                 ng-click="OpenkendoWindow('GL_Currency', 'ExchangeTablePopUp', CM00307.CurrencyCode, 'ManualPayment')">
                                                <a href="javascript:void(0);" class="btn btn-default" ng-show="CM00307.ExchangeTableID == undefined || CM00307.ExchangeTableID == ''">Select Table</a>
                                                <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM00307.ExchangeTableID == undefined || CM00307.ExchangeTableID == ''">{{CM00307.ExchangeTableID}}</a>
                                            </div>
                                            <div class="input-group-btn input-group-sm" ng-disabled="CM00307.CurrencyCode == undefined || CM00307.CurrencyCode == '' || CM00307.ExchangeTableID == undefined || CM00307.ExchangeTableID == ''"
                                                 ng-click="OpenExchangeRateWindow();">
                                                <a href="javascript:void(0);" class="btn btn-default" ng-show="CM00307.ExchangeRateID == undefined || CM00307.ExchangeRateID == ''">Select Rate</a>
                                                <a href="javascript:void(0);" class="btn btn-default" ng-hide="CM00307.ExchangeRateID == undefined || CM00307.ExchangeRateID == ''">{{CM00307.ExchangeRate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col col-md-2 control-label txt-color-red bold">Transaction Date</label>
                                    <div class="form-group col-md-4">
                                        <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                               k-ng-model="CM00307.TransactionDate" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col col-md-2 control-label txt-color-red bold">Check Book</label>
                                    <div class="form-group col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly
                                                   placeholder="Checkbook Code" ng-model="CM00307.CheckbookCode" />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('GL_Checkbook','PopUp',CM00307.CurrencyCode,'ManualPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col col-md-2 control-label txt-color-red bold">Amount</label>
                                    <div class="form-group col-md-4">
                                        <input kendo-numeric-text-box ng-required="true"
                                               k-options="NumberFormatOptions(CM00307.CurrencyCode,CM00307.DecimalDigit,true)"
                                               k-ng-model="CM00307.Amount" style="width: 100%;" />

                                    </div>
                                </div>
                                <div class="row" ng-show="CM00307.CheckbookCode !=null && CM00307.CheckbookCode !=''">
                                    <label class="col col-md-2 control-label txt-color-red bold">Payment Method</label>
                                    <div class="form-group col-md-4">
                                        <select class="form-control" ng-model="CM00307.PaymentMethodID"
                                                ng-change="GetNextPaymentNumber()" convert-to-number>
                                            <option value="1">Cash</option>
                                            <option value="2">Credit</option>
                                            <option value="3">Check</option>
                                        </select>
                                    </div>
                                    <label class="col col-md-2 control-label txt-color-red bold">Payment Number</label>
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control" placeholder="Payment Number"
                                               ng-model="CM00307.PaymentNumber" required />
                                    </div>
                                </div>
                                <div class="row" ng-show="CM00307.PaymentMethodID != 1">
                                    <label class="col col-md-2 control-label">Bank Name</label>
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control"
                                               placeholder="Bank Name" ng-model="CM00307.BankName" />
                                    </div>
                                    <label class="col col-md-2 control-label">Bank Code</label>
                                    <div class="form-group col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly
                                                   placeholder="Bank Code" ng-model="CM00307.BankCode" />
                                            <span class="input-group-btn input-group-sm">
                                                <button class="btn btn-default"
                                                        ng-click="OpenkendoWindow('GL_Set_BankList','PopUp',null,'ManualPayment')">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="CM00307.PaymentMethodID != 1">
                                    <label class="col col-md-2 control-label">Bank Account</label>
                                    <div class="form-group col-md-4">
                                        <input type="text" class="form-control"
                                               placeholder="Bank Account" ng-model="CM00307.BankAccount" />
                                    </div>
                                    <label class="col col-md-2 control-label">Bank Check Date</label>
                                    <div class="form-group col-md-4">
                                        <input kendo-date-picker k-format="'dd/MM/yyyy'"
                                               k-ng-model="CM00307.BankCheckDate" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col col-sm-2 control-label txt-color-red bold">Reason</label>
                                    <div class="form-group col-sm-4">
                                        <select kendo-drop-down-list
                                                k-filter="'startswith'"
                                                k-ng-model="CM00307.ReasonID"
                                                k-data-text-field="'ReasonName'"
                                                k-value-primitive="true"
                                                k-data-value-field="'ReasonID'"
                                                k-data-source="PaymentReasons"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col col-md-2 control-label">Description</label>
                                    <div class="form-group col-md-10">
                                        <textarea type="text" class="form-control" style="width: 100%;"
                                                  placeholder="Description" ng-model="CM00307.TransDescription"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </article>
                <article class="col-md-12 col-lg-12" ng-show="CM00307.PaymentID !=null && CM00307.PaymentID !=''">
                    <div class="widget-body">
                        <div class="row no-padding">
                            <form>
                                <button class="btn btn-primary" ng-click="OpenTransactionPanel(true);" ng-hide="IsOpenTransactionPanel == true">
                                    <span class="glyphicon glyphicon-plus-sign"> Add Transaction</span>
                                </button>
                                <fieldset>
                                    <div class="row" ng-show="CM00307.PaymentID !=null && CM00307.PaymentID !=''">
                                        <div class="panel panel-default">
                                            <div class="panel-body" ng-show="IsOpenTransactionPanel == true">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label class="col-sm-1 control-label">Case</label>
                                                        <div class="col-sm-3">
                                                            <div class="input-group">
                                                                <div class="input-group">
                                                                    <script>
                                                                        var widget = $("#widget-CMS_Reminder")
                                                                        var scope = angular.element(widget).scope();
                                                                        $('#CaseAutoComplete').autocomplete({
                                                                            minLength: 2,
                                                                            source: function (request, response) {
                                                                                $.ajax({
                                                                                    url: "/CMS_Case/GetTop10BYCaseRef",
                                                                                    type: "GET",
                                                                                    dataType: "json",
                                                                                    data: { CaseRef: request.term, KaizenPublicKey: sessionStorage.PublicKey },
                                                                                    success: function (responseData) {
                                                                                        var array = responseData.map(function (element) {
                                                                                            return {
                                                                                                value: element['CaseRef'],
                                                                                                id: element['CaseRef'],
                                                                                                CaseRef: element['CaseRef'],
                                                                                                CurrencyCode: element['CurrencyCode'],
                                                                                                ClaimAmount: element['ClaimAmount']
                                                                                            };
                                                                                        });
                                                                                        response(array);
                                                                                    }
                                                                                })
                                                                            },
                                                                            select: function (event, ui) {
                                                                                scope.$apply(function () {
                                                                                    scope.CM00308.CaseRef = ui.item.CaseRef.trim();
                                                                                    scope.CM00308.CurrencyCode = ui.item.CurrencyCode;
                                                                                    scope.CM00308.ClaimAmount = ui.item.ClaimAmount;
                                                                                });
                                                                                return false;
                                                                            }
                                                                        });
                                                                    </script>
                                                                    <input id="CaseAutoComplete" ng-model="CM00308.CaseRef"
                                                                           class="form-control" placeholder="Case Reference" />
                                                                    <span class="input-group-btn input-group-sm">
                                                                        <button class="btn btn-default"
                                                                                ng-click="OpenkendoWindow('CMS_Case','PopUp',null,'ManualPayment')">
                                                                            <span class="glyphicon glyphicon-search"></span>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="col-sm-1 control-label">Calim Amount</label>
                                                        <div class="col-sm-3">
                                                            <input kendo-numeric-text-box disabled
                                                                   k-options="NumberFormatOptions(CM00307.CurrencyCode,CM00307.DecimalDigit,false)"
                                                                   k-ng-model="CM00308.ClaimAmount" style="width: 100%;" />
                                                        </div>
                                                        <label class="col-sm-1 control-label">Applied Amount</label>
                                                        <div class="col-sm-3">
                                                            <input kendo-numeric-text-box ng-required="true"
                                                                   k-options="NumberFormatOptions(CM00307.CurrencyCode,CM00307.DecimalDigit,true)"
                                                                   k-ng-model="CM00308.Amount" style="width: 100%;"
                                                                   ng-blur="AmountAppliedChanged()" />
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <button class="btn btn-primary" ng-show="CM00308.status==1" ng-click="AddNewTransaction()"><i class="fa fa-plus-square"></i> Add Payment</button>
                                                            <button class="btn btn-primary" ng-show="CM00308.status==2" ng-click="UpdateTransaction()"><i class="fa fa-edit"></i> Update Payment</button>
                                                            <button class="btn btn-default" ng-click="CancelTransaction()"><i class="fa fa-ban"></i> Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="row no-margin-lr">
                            <table class="table table-bordered table-centered"
                                   ng-show="TransactionLines.length > 0" style="clear: both">
                                <thead>
                                    <tr>
                                        <th>Case Reference</th>
                                        <th>Currency</th>
                                        <th>Claim Amount</th>
                                        <th>Applied Amount</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="line in TransactionLines">
                                        <td>{{line.CaseRef}}</td>
                                        <td>{{line.CurrencyCode}}</td>
                                        <td>{{line.ClaimAmount | number : CM00307.DecimalDigit}}</td>
                                        <td>{{line.Amount | number : CM00307.DecimalDigit}}</td>
                                        <td>
                                            <a href="" class="btn btn-danger" ng-click="RemoveTransaction(line,$index)" ng-show="line.status != 3">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                            <a href="" class="btn btn-info" ng-click="UndoDeleteTransaction(line,$index)" ng-hide="line.status != 3">
                                                <span class="fa fa-undo"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-success bold">
                                            {{CM00307.Total_CalimAmount | number : CM00307.DecimalDigit}}
                                        </td>
                                        <td class="text-success bold">
                                            {{CM00307.Total_Amount | number : CM00307.DecimalDigit}}
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<fieldset ng-show="CM00307.DebtorID !=null && CM00307.DebtorID !=''">
    <table class="table table-hover table-bordered table-striped" ng-show="DebtorCases.length > 0">
        <thead>
            <tr>
                <th class="text-center">
                    <div class="checkbox no-padding-top">
                        <label>
                            <input type="checkbox" class="checkbox style-0" checkbox-all="DebtorCases.isSelected">
                            <span></span>
                        </label>
                    </div>
                </th>
                <th><h5 class="text-center">Case Reference</h5></th>
                <th><h5 class="text-center">Currency Code</h5></th>
                <th><h5 class="text-center">Claim Amount</h5></th>
                <th><h5 class="text-center">Applied Amount</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debtorCase in DebtorCases">
                <td class="text-center">
                    <div class="checkbox no-padding-top">
                        <label>
                            <input type="checkbox" class="checkbox style-0" ng-model="debtorCase.isSelected"
                                   ng-change="LineCheckChange(debtorCase)">
                            <span></span>
                        </label>
                    </div>
                </td>
                <td class="text-center">{{debtorCase.CaseRef}}</td>
                <td class="text-center">{{debtorCase.CurrencyCode}}</td>
                <td class="text-center">{{debtorCase.ClaimAmount | number:debtorCase.DecimalDigit}}</td>
                <td class="text-center">
                    <input type="text" class="form-control text-center" ng-model="debtorCase.AppliedAmount"
                           focus-me="debtorCase.Focus"
                           ng-decimal decimal="CM00307.DecimalDigit"
                           ng-disabled="debtorCase.isSelected != true"
                           ng-blur="AmountApplied(debtorCase)" select-on-click />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="invisible bg-snow"></td>
                <td class="text-center"><strong>Total</strong></td>
                <td class="text-center "><strong>{{CM00307.Total_ClaimAmount | number : CM00307.DecimalDigit}}</strong></td>
                <td class="text-center "><strong>{{CM00307.Total_Amount | number : CM00307.DecimalDigit}}</strong></td>
            </tr>
        </tbody>
    </table>
</fieldset>
