@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="Cancel();"><i class="fa fa-arrow-left"></i><br />Back </a>
    </header>

    
    <div class="no-border overflow">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
        </div>
        <!-- end widget edit box -->
        <!-- widget grid -->
        <section id="widget-grid">

            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-md-12 col-lg-12 separator">
                    <!-- widget content-->
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>
                                    Debtor Commission Security Maintenance
                                </legend>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Year Code</label>
                                                <div class="col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedType"
                                                            k-data-text-field="'YearCode'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'YearCode'"
                                                            k-data-source="YearCodeList"
                                                            k-on-change="CaseTypeChangedForEquationFieldsByView()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Agent Code</label>
                                                <label class="input col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedType"
                                                            k-data-text-field="'AgentID'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'AgentID'"
                                                            k-data-source="AgentList"
                                                            k-on-change="CaseTypeChangedForEquationFieldsByView()"
                                                            style="width: 100%"></select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Period ID</label>
                                                <div class="col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select View --'"
                                                            k-ng-model="SelectedLookUp.SelectedView"
                                                            k-data-text-field="'PERIODID'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'PERIODID'"
                                                            k-data-source="PeriodList"
                                                            k-on-change="ViewChangedForEquationFields()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Target ID</label>
                                                <label class="input col col-sm-8 col-xs-12">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedType"
                                                            k-data-text-field="'TargetID'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'TargetID'"
                                                            k-data-source="TargetList"
                                                            k-on-change="CaseTypeChangedForEquationFieldsByView()"
                                                            style="width: 100%"></select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Target From</label>
                                                <label class="input col col-sm-8 col-xs-12">
                                                    <input kendo-numeric-text-box k-min="0"
                                                           k-ng-model="CM00081.FieldWidth" style="width: 100%;" />
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Target To</label>
                                                <div class="col col-sm-8">
                                                    <input kendo-numeric-text-box k-min="0"
                                                           k-ng-model="CM00081.FieldWidth" style="width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Field Type ID</label>
                                                <div class="col col-sm-8">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Field Type --'"
                                                            k-ng-model="CM00081.FieldTypeID"
                                                            k-data-text-field="'FieldTypeName'"
                                                            k-value-primitive="true"
                                                            k-data-value-field="'FieldTypeID'"
                                                            k-data-source="FieldTypeList"
                                                            k-on-change="FieldTypeChangedFor_EquationFieldsByView()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Field Order</label>
                                                <div class="col col-sm-8">
                                                    <input kendo-numeric-text-box k-min="0" k-max="100"
                                                           k-ng-model="CM00081.FieldOrder" style="width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Function Code</label>
                                                <div class="col col-sm-8">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Type --'"
                                                            k-ng-model="SelectedLookUp.SelectedFunction"
                                                            k-data-text-field="'FunctionDisplay'"
                                                            k-data-value-field="'FunctionCode'"
                                                            k-data-source="FunctionCodeList"
                                                            k-on-change="FunctionCodeList_ChangedByView()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Select Field</label>
                                                <div class="col col-sm-8">
                                                    <select kendo-drop-down-list
                                                            k-filter="'startswith'"
                                                            k-option-label="'-- Select Field --'"
                                                            k-ng-model="SelectedLookUp.SelectedField"
                                                            k-data-text-field="'FieldName'"
                                                            k-data-value-field="'FieldTypeID'"
                                                            k-data-source="CaseTypeStandardFieldsList"
                                                            k-on-change="CaseTypeStandardFields_ChangedByView()"
                                                            style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="col-sm-12 no-padding margin-bottom-5">
                                                <label class="col col-sm-4 control-label text-left">Equation Field</label>
                                                <div class="col col-sm-8">
                                                    <textarea id="fieldEquation" rows="4" cols="50" ng-model="CM00081.FieldEquation" style="width: 100%;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsEmailable">
                                                        <span>Is Emailable</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsActive">
                                                        <span>Is Active</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.Islockable">
                                                        <span>Is lockable</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsRequired">
                                                        <span>Is Required</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsPrintable">
                                                        <span>Is Printable</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.Islocked">
                                                        <span>Is locked</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsSortable">
                                                        <span>Is Sortable</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 no-padding margin-bottom-5">
                                                    <label class="col">
                                                        <input type="checkbox"
                                                               class="checkbox style-0"
                                                               ng-model="CM00081.IsFilterable">
                                                        <span>Is Filterable</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                     
                            </fieldset>

                            <fieldset>
                                <div class="form-controls">
                                    <button class="btn btn-primary" ng-click="AddNewEquationFieldByView()" ng-show="CM00081.status == 0 || CM00081.status == 1">Add Equation Field</button>
                                    <button class="btn btn-primary" ng-click="UpdateEquationFieldByView()" ng-show="CM00081.status == 2">Update Equation Field</button>
                                    <button class="btn btn-primary" ng-click="CancelUpdateEquationFieldByView()" ng-show="CM00081.status == 2">Cancel</button>
                                </div>
                            </fieldset>

                            <br/>

                            <fieldset ng-show="CaseTypeEquationFieldsList.length > 0">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="text-align-center">TRX Type ID</th>
                                                <th class="text-align-center">View ID</th>
                                                <th class="text-align-center">Field Name</th>
                                                <th class="text-align-center">Field Type ID</th>
                                                <th class="text-align-center">Edit</th>
                                                <th class="text-align-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="caseTypeField in CaseTypeEquationFieldsList" ng-class="{'deleted':caseTypeField.status== 3}">
                                                <td class="col-md-2">{{caseTypeField.TRXTypeID}}</td>
                                                <td class="col-md-4">{{caseTypeField.ViewID}}</td>
                                                <td class="col-md-4">{{caseTypeField.FieldName}}</td>
                                                <td class="col-md-2">{{caseTypeField.FieldTypeID}}</td>
                                                <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                    <a href="" ng-click="EditEquationFieldByView(caseTypeField)"><span class="glyphicon glyphicon-edit myhover"></span></a>
                                                </td>
                                                <td class="text-align-center col-md-1" style="font-size: 20px;">
                                                    <a href="" ng-click="RemoveCaseTypeEquationFieldByView(caseTypeField,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
            <!-- End Body -->
        </section>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->
</div>





