@{
    Layout = null;
}
<div class="jarviswidget" data-widget-colorbutton="false"
     data-widget-editbutton="false"
     data-widget-togglebutton="false"
     data-widget-deletebutton="false"
     data-widget-fullscreenbutton="false"
     data-widget-custombutton="false"
     data-widget-collapsed="false"
     data-widget-sortable="false">

    <header class="button-header">
        <a class="btn btn-default" ng-click="SaveData();"
           ng-show="CM00011.Status == 1">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Save &amp; Close
        </a>
        <a class="btn btn-default" ng-click="UpdateData();"
           ng-show="CM00011.Status == 2">
            <i class="glyphicon glyphicon-floppy-disk icon-large">
            </i><br />
            Update &amp; Close
        </a>
        <a class="btn btn-default" ng-click="Delete();" ng-show="CM00011.Status == 2"><i class="glyphicon glyphicon-trash"></i><br />Delete </a>
        <a class="btn btn-default" ng-click="Clear();"><i class="glyphicon glyphicon-remove"></i><br />Clear </a>
        <a class="btn btn-default"><i class="glyphicon glyphicon-print"></i><br />Print </a>
        <a class="btn btn-default" ng-click="Cancel();"><i class="glyphicon glyphicon-remove-circle"></i><br />Cancel </a>
    </header>

    <!-- widget div-->
    <div class="no-border overflow">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body">

            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-md-12 col-lg-12 separator">
                    <div class="row no-padding">
                        <form class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col-md-12">
                                        <label class="col col-md-2 control-label">Group Name</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" maxlength="50"
                                                   placeholder="Group Name" ng-model="CM00011.GroupName">
                                        </div>

                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </article>
            </div>
            <!-- End Body -->
        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->
</div>





