<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="SOPEntities" connectionString="metadata=res://*/SOP.DB.csdl|res://*/SOP.DB.ssdl|res://*/SOP.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RMEntities" connectionString="metadata=res://*/RM.DB.csdl|res://*/RM.DB.ssdl|res://*/RM.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IVViewEntities" connectionString="metadata=res://*/IV.DBView.csdl|res://*/IV.DBView.ssdl|res://*/IV.DBView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IVEntities" connectionString="metadata=res://*/IV.MainDB.csdl|res://*/IV.MainDB.ssdl|res://*/IV.MainDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IV_viewEntities" connectionString="metadata=res://*/IV.Views.DB.csdl|res://*/IV.Views.DB.ssdl|res://*/IV.Views.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SOP_ViewEntities" connectionString="metadata=res://*/SOP.DBViews.csdl|res://*/SOP.DBViews.ssdl|res://*/SOP.DBViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AdminEntities" connectionString="metadata=res://*/Admin.DB.csdl|res://*/Admin.DB.ssdl|res://*/Admin.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AdminViewEntitiesss" connectionString="metadata=res://*/Admin.Views.DBView.csdl|res://*/Admin.Views.DBView.ssdl|res://*/Admin.Views.DBView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="POPEntities" connectionString="metadata=res://*/POP.DB.csdl|res://*/POP.DB.ssdl|res://*/POP.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="POPViewEntities" connectionString="metadata=res://*/POP.Views.DB.csdl|res://*/POP.Views.DB.ssdl|res://*/POP.Views.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AdminViewEntities" connectionString="metadata=res://*/Admin.Views.DBView.csdl|res://*/Admin.Views.DBView.ssdl|res://*/Admin.Views.DBView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ERPEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MasterDataEntities" connectionString="metadata=res://*/MasterSystem.DB.csdl|res://*/MasterSystem.DB.ssdl|res://*/MasterSystem.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=MasterS2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HREntities" connectionString="metadata=res://*/HR.HR.csdl|res://*/HR.HR.ssdl|res://*/HR.HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HRViewEntities" connectionString="metadata=res://*/HR.HRView.csdl|res://*/HR.HRView.ssdl|res://*/HR.HRView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GLViewEntities" connectionString="metadata=res://*/GL.DBView.csdl|res://*/GL.DBView.ssdl|res://*/GL.DBView.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MasterEntities" connectionString="metadata=res://*/MasterSystem.DBmaster.csdl|res://*/MasterSystem.DBmaster.ssdl|res://*/MasterSystem.DBmaster.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GLSetupEntities" connectionString="metadata=res://*/GL.DBSetUp.csdl|res://*/GL.DBSetUp.ssdl|res://*/GL.DBSetUp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SmartKeyEntities" connectionString="metadata=res://*/MasterSystem.SmartKey.csdl|res://*/MasterSystem.SmartKey.ssdl|res://*/MasterSystem.SmartKey.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GLEntities" connectionString="metadata=res://*/GL.DB.csdl|res://*/GL.DB.ssdl|res://*/GL.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SOPhistoryEntities" connectionString="metadata=res://*/SOP.DBhistory.csdl|res://*/SOP.DBhistory.ssdl|res://*/SOP.DBhistory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ApplicationDBEntities" connectionString="metadata=res://*/HR.ApplicationDB.csdl|res://*/HR.ApplicationDB.ssdl|res://*/HR.ApplicationDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.15.175;initial catalog=Greenology;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HumanResourcesEntities" connectionString="metadata=res://*/HumanResources.DB.csdl|res://*/HumanResources.DB.ssdl|res://*/HumanResources.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.15.175;initial catalog=Greenology;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="KaizenEntities" connectionString="Password=P@ssw0rd;Persist Security Info=True;User ID=sa;Initial Catalog=Exception;Data Source=192.168.15.175" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
