@{
    Layout = null;//  "~/Views/Shared/_LayoutPopUP.cshtml";
}
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET ROW START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget div-->
                <div class="no-padding-top">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="GL_GLCategoryForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </div>
                            </div>

                            <fieldset>
                                <legend>
                                    Case Status Users Maintenance
                                </legend>
                                
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">User</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   placeholder="UserName" ng-model="CM00053.UserName" readonly>
                                            <span class="input-group-btn input-group-sm" ng-click="OpenkendoWindow('SysUser','PopUp',null,'StatusGroupUsers')">
                                                <a href="javascript:void(0);" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Status Action Type</label>
                                    <div class="col-sm-4">
                                        <select kendo-drop-down-list
                                                k-ng-model="CM00003.SelectedStatusGroup"
                                                k-options="StatusGroupHasOptions"
                                                k-on-change="StatusGroupChangedForUsers()"
                                                style="width: 100%"></select>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-controls">
                                    <button class="btn btn-primary" ng-click="UpdateStatusGroupUser()">Add</button>
                                </div>
                            </fieldset>

                            <fieldset ng-show="StatusGroupUsers.length > 0">
                                <div class="form-group">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th class="text-align-center">Case Status ID</th>
                                                <th class="text-align-center">User Name</th>
                                                <th class="text-align-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="statusGroupUser in StatusGroupUsers" ng-class="{'deleted':statusGroupUser.status== 3}">
                                                <td class="col-md-2">{{statusGroupUser.StatusActionTypeID}}</td>
                                                <td class="col-md-4">{{statusGroupUser.UserName}}</td>
                                                <td class="text-align-center col-md-1" style="font-size:20px;">
                                                    <a href="" ng-click="RemoveStatusGroupUser(statusGroupUser,$index)"><span class="glyphicon glyphicon-remove myhover"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
        </article>
        <!-- end widget -->
    </div>
    <!-- WIDGET ROW END -->
    <!-- end row -->
</section>
<!-- end widget grid -->