@{
    Layout = null;
}
<script>
    function btnEditMessageTRXID_Click(CUSTCLAS) {
        var DV = document.getElementById("widget-Uti_Email");
        var scope = angular.element(DV).scope();
        scope.$apply(function () {
            scope.EditCM00230(CUSTCLAS);
        });
    }
    function StatusFilter(element) {
        var scope = angular.element(document.getElementById("widget-Uti_Email")).scope();
        element.kendoDropDownList({
            dataTextField: "CaseStatusname",
            dataValueField: "CaseStatusID",
            dataSource: scope.CM00700List,
            optionLabel: "--Select Status--"
        });
    };
</script>
<div ng-controller="Uti_EmailController">
    <div class="widget" id="widget-Uti_Email">
        <div ng-show="PagesCM00230.length >0">
            <div ng-repeat="Page in PagesCM00230">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="widget-body" ng-show="PagesCM00230.length == 0">
            <div kendo-toolbar k-options="toolbarOptions">
            </div>
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00230>()
                            .Name("GridCMS_CM00230")
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.MessageTRXID).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditMessageTRXID_Click('#:MessageTRXID#');""> #:MessageTRXID# </a>").Width(100).Title("Class ID");
                                columns.Bound(c => c.CreatedBy);
                                columns.Bound(c => c.CreatedDate).Format("{0:MM/dd/yyyy}");
                                columns.Bound(c => c.TrxComment);
                            })
                            .Filterable()
                            .Pageable(pager => pager.Messages(messages => messages.Display("Showing Class from {0} to {1}. Total Classes: <strong>{2}</strong>")
                            .ItemsPerPage("Class Per page").Empty("No Class Information")).Refresh(true).PageSizes(true).Input(true).ButtonCount(14))
                            .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                            .Navigatable()
                            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .Reorderable(reorder => reorder.Columns(true))
                            .Resizable(ss => ss.Columns(true))
                            .ColumnMenu().Scrollable(s => s.Height(400))
                            .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(20)
                            .Read(read => read.Action("GetDataListGrid", "Uti_Email")
                            .Type(HttpVerbs.Get).Data("GetKaizenPublicKey"))
                            .Model(model =>
                            {
                                model.Id(o => o.MessageTRXID);
                            })
                        )
                )
            </div>
        </div>
    </div>
</div>






