@{
    Layout = null;
}
<script>
    function btnEditSOP_Set_PaymentTerm_Click(PaymentTermID) {
        var scope = angular.element(document.getElementById("widget-SOP_Set_PaymentTerm")).scope();
        scope.$apply(function () {
            scope.EditSOP00015(PaymentTermID);
        });
    };
</script>

<div ng-controller="SOP_Set_PaymentTermController">
    <div class="widget" id="widget-SOP_Set_PaymentTerm">
        <div ng-show="PagesSOP00015.length > 0">
            <div ng-repeat="Page in PagesSOP00015">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesSOP00015.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div>
                @(Html.Kendo().Grid<Kaizen.SOP.SOP00015>()
                                .Name("GridSOP_Set_PaymentTerm")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.PaymentTermID).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditSOP_Set_PaymentTerm_Click('#:PaymentTermID#');""> #:PaymentTermID# </a>").Width(100).Title("Payment Term ID");
                            columns.Bound(c => c.PaymentTermName);
                        })
                .HtmlAttributes(new { style = "height:500px;" })
                .Scrollable(scrollable => scrollable.Virtual(true))
                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Payment Terms from {0} to {1}. Total Payment Terms: <strong>{2}</strong>").Empty("No Payment Term Information")).Refresh(true).PageSizes(true).ButtonCount(14))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Navigatable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(ss => ss.Columns(true)).ColumnMenu().Filterable()
                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(17)
                .Read(read => read.Action("GetDataListGrid", "SOP_Set_PaymentTerm")
                .Type(HttpVerbs.Get).Data("GetGenericKaizenPublicKey"))
                .Model(model => model.Id(p => p.PaymentTermID)))
                )
            </div>
        </div>
    </div>
</div>

