@{
    Layout = null;
}
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET ROW START -->
        <!-- Widget ID (each widget will need unique ID)-->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget no-margin-bottom" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <!-- widget div-->
                <div class="no-padding-top">
                    <!-- widget content -->
                    <div class="widget-body">
                        <form id="Admin_ScreenForm" class="form-horizontal"
                              data-bv-message="This value is not valid"
                              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <a href="javascript:void(0);" class="btn btn-primary" ng-click="SaveData();"
                                       ng-show="Kaizen00010.Status == 1">
                                        <i class="glyphicon glyphicon-floppy-disk"></i> Save & Close
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-primary" ng-click="UpdateData();"
                                       ng-show="Kaizen00010.Status == 2">
                                        <i class="glyphicon glyphicon-edit"></i> Update & Close
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-danger" ng-click="Delete();"
                                       ng-show="Kaizen00010.Status == 2">
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-info" ng-click="Clear();">
                                        <i class="fa fa-eraser"></i> Clear
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-default" ng-click="Cancel();">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                    <div class="smart-form pull-right">
                                        <label class="toggle">
                                            <input type="checkbox" id="demo-switch-to-pills" ng-model="Kaizen00010.HasSubScreen" name="checkbox-toggle">
                                            <i data-swchon-text="TRUE" data-swchoff-text="FALSE"></i>Has Sub Screen
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <fieldset>
                                <legend>
                                    Screen Entry
                                </legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Screen Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Screen Name"
                                               ng-model="Kaizen00010.ScreenName" maxlength="50">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left">Screen Description</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Screen Description"
                                               ng-model="Kaizen00010.ScreenDescription" maxlength="100">
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
        </article>
        <!-- end widget -->
    </div>
    <!-- WIDGET ROW END -->
    <!-- end row -->
</section>
<!-- end widget grid -->

