
@{
    Layout = null;
}
<script>
    function btnEditSet_Priority_Click(PriorityID) {
        var scope = angular.element(document.getElementById("widget-Set_Priority")).scope();
        scope.$apply(function () {
            scope.EditCM00012(PriorityID);
        });
    };
</script>
<div ng-controller="Set_PriorityController">
    <div class="widget" id="widget-Set_Priority">
        <div ng-show="PagesCM00012.length > 0">
            <div ng-repeat="Page in PagesCM00012">
                <div ng-include="Page.url">Content from blocks goes here</div>
            </div>
        </div>
        <div class="k-content" ng-show="PagesCM00012.length == 0">
            <div class="wide bordered-bottom bordered-palegreen">
                <div kendo-toolbar k-options="toolbarOptions">
                </div>
            </div>
            <div>
                @(Html.Kendo().Grid<Kaizen.CMS.CM00012>()
                .Name("GridSet_Priority")
                .Columns(columns =>
                {
                    columns.Template(@<text></text>).ClientTemplate(@"<a href='javascript:void(0)' onclick=""btnEditSet_Priority_Click('#:PriorityID#');""> #:PriorityID# </a>").Width(100).Title("Priority ID");
                    columns.Bound(c => c.PriorityName);
                })
                .Filterable()
                .Pageable(pager => pager.Messages(messages => messages.Display("Showing Priority from {0} to {1}. Total Priority: <strong>{2}</strong>")
                .ItemsPerPage("Priority Per page").Empty("No Priority Information")).Refresh(true).PageSizes(true)
                .Input(true).ButtonCount(5))
                .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn))
                .Navigatable()
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
                .Reorderable(reorder => reorder.Columns(true))
                .Resizable(ss => ss.Columns(true))
                .ColumnMenu()
                .Scrollable(ss => ss.Height(500))
                .DataSource(dataSource => dataSource.Ajax().ServerOperation(true).PageSize(10)
                .Read(read => read.Action("GetDataListGrid", "Set_Priority").Type(HttpVerbs.Get)
                .Data("GetKaizenPublicKey"))
                .Model(model => model.Id(p => p.PriorityID)))
                )
            </div>
            <div kendo-window="GridFilterWindow" k-title="'Filteration'" k-modal="true"
                 k-actions="['Pin', 'Refresh', 'Maximize', 'Close']"
                 k-width="600" k-resizable="true" k-visible="false"></div>
        </div>
    </div>
</div>



